{% extends 'base.html.twig' %}
{% block pageTitle %}Panel - Nowy kandydat{% endblock %}
{% block body %}
    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Dodaj nowego kandydata</h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    {{ form_start(form) }}
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Imię i nazwisko</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(form.fullName) }}
                                        {{ form_errors(form.fullName) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Email</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(form.mail) }}
                                        {{ form_errors(form.mail) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Link do gita</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(form.gitLink) }}
                                        {{ form_errors(form.gitLink) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Typ współpracy</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(form.type) }}
                                        {{ form_errors(form.type) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Ocena</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(form.rating) }}
                                        {{ form_errors(form.rating) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Notatki</label>
                                <div class="col-9">
                                    <div class="input-group">
                                                                                <div class="input-group-prepend"><span class="input-group-text"><i
                                                                                                class="la la-commenting"></i></span></div>
                                        {{ form_widget(form.note) }}
                                        {{ form_errors(form.note) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">CV</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(form.fileFile) }}
                                        {{ form_errors(form.fileFile) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <input type="submit" class="btn btn-brand" value="Wyślij">
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

    <!--end::Portlet-->
{% endblock %}