{% extends 'base.html.twig' %}

{% block title %}Boosttypers::Płatności{% endblock %}
{% block pageTitle %}Panel - Lista płatności {% endblock %}
{% block body %}
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="kt-font-brand flaticon2-line-chart"></i>
										</span>
                    <h3 class="kt-portlet__head-title">
                        Lista płatności
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            <div class="dropdown dropdown-inline">

                            </div>
                            &nbsp;<a href="{{ path('admin_payments_archive') }}"
                                     class="btn btn-info btn-elevate btn-icon-sm">
                                <i class="la la-folder"></i>
                                Archiwum
                            </a>
                            <a href="{{ path('admin_payment_new') }}" class="btn btn-brand btn-elevate btn-icon-sm">
                                <i class="la la-plus"></i>
                                Dodaj płatność
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin: Search Form -->
                <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Szukaj..."
                                               id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
																<span><i class="la la-search"></i></span>
															</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                            <a href="#" class="btn btn-default kt-hidden">
                                <i class="la la-cart-plus"></i> New Order
                            </a>
                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                        </div>
                    </div>
                </div>

                <!--end: Search Form -->
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                {% if  october is not empty %}
                    <h2>Październik</h2>
                <table class="kt-datatable-2" id="html_table" width="100%">
                    <thead>
                    <tr>
                        <th class="table-id">#</th>
                        <th>Tytuł</th>
                        <th>Serwis</th>
                        <th>Kwota netto</th>
                        <th>Kwota brutto</th>
                        <th>Typ</th>
                        <th>Aktywne?</th>
                        <th>Data płatności</th>
                        <th>Akcje</th>
                        <th>Zapłacone?</th>
                        <th>Archiwum</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in october %}
                        <tr class="table-data-{{ payment.id }}">
                            <td class="table-id">{{ payment.id }}</td>
                            <td>{{ payment.title }}</td>
                            <td>{{ payment.service }}</td>
                            <td>{{ payment.netAmount }}
                                {% if payment.grossAmount == null %}
                                    {% if payment.currency == 'DOL' %}
                                        <strong>$</strong>
                                    {% endif %}
                                    {% if payment.currency == 'EUR' %}
                                        <strong>€</strong>
                                    {% endif %}
                                    {% if payment.currency == 'PLN' %}
                                        <strong>zł</strong>
                                    {% endif %}
                                {% endif %}

                            </td>
                            <td>
                                {% if payment.grossAmount == null %}
                                    <strong>Brak</strong>
                                {% else %}
                                    {{ payment.grossAmount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if payment.cyclic == 1 %}
                                    Cykliczna
                                {% else %}
                                    Jednorazowa
                                {% endif %}
                            </td>
                            <td>
                                {% if payment.active == true %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                         viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                  fill="#000000" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                         viewBox="0 0 24 24"
                                         version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                            <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z"
                                                  fill="#000000"/>
                                        </g>
                                    </svg>
                                {% endif %}
                            </td>
                            <td>{{ payment.paymentDate|date('d/m/Y H:s') }}</td>
                            <td>
                                <div class="kt-section__content--solid">
                                    <a href="{{ path('admin_payment_edit', {'id': payment.getId}) }}">
                                        <button type="button" class="btn btn-info">Edytuj</button>
                                    </a>
                                    <a href="{{ path('admin_payment_delete', { 'id': payment.getId }) }}">
                                        <button type="button" class="btn btn-danger">Usuń</button>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <span class="kt-switch kt-switch--icon">
                                    <label>
                                        <input type="checkbox" {% if payment.Paid == 1 %}checked="checked"{% endif %} onclick="change({{ payment.id }});"/>
                                        <span id="payment-paid"></span>
                                    </label>
                                </span>
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon" onclick="archive({{ payment.id }});">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                            <rect x="0" y="7" width="16" height="2" rx="1"/>
                                            <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
                                        </g>
                                    </g>
                                </svg>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% if  november is not empty %}
                    <h2 style="margin-left: 25px;">Listopad</h2>

                <table class="kt-datatable-3" id="html_table" width="100%">
                    <thead>
                    <tr>
                        <th class="table-id">#</th>
                        <th>Tytuł</th>
                        <th>Serwis</th>
                        <th>Kwota netto</th>
                        <th>Kwota brutto</th>
                        <th>Typ</th>
                        <th>Aktywne?</th>
                        <th>Data płatności</th>
                        <th>Akcje</th>
                        <th>Zapłacone?</th>
                        <th>Archiwum</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in november %}
                        <tr class="table-data-{{ payment.id }} {% if payment.Paid == true %}paid{% endif %}">
                            <td class="table-id ">{{ payment.id }}</td>
                            <td>{{ payment.title }}</td>
                            <td>{{ payment.service }}</td>
                            <td>{{ payment.netAmount }}
                                {% if payment.grossAmount == null %}
                                    {% if payment.currency == 'DOL' %}
                                        <strong>$</strong>
                                    {% endif %}
                                    {% if payment.currency == 'EUR' %}
                                        <strong>€</strong>
                                    {% endif %}
                                    {% if payment.currency == 'PLN' %}
                                        <strong>zł</strong>
                                    {% endif %}
                                {% endif %}

                            </td>
                            <td>
                                {% if payment.grossAmount == null %}
                                    <strong>Brak</strong>
                                {% else %}
                                    {{ payment.grossAmount }}
                                {% endif %}
                            </td>
                            <td>
                                {% if payment.cyclic == 1 %}
                                    Cykliczna
                                {% else %}
                                    Jednorazowa
                                {% endif %}
                            </td>
                            <td>
                                {% if payment.active == true %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                         viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                            <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                  fill="#000000" fill-rule="nonzero"/>
                                        </g>
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                         viewBox="0 0 24 24"
                                         version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                            <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z"
                                                  fill="#000000"/>
                                        </g>
                                    </svg>
                                {% endif %}
                            </td>
                            <td>{{ payment.paymentDate|date('d/m/Y H:s') }}</td>
                            <td>
                                <div class="kt-section__content--solid">
                                    <a href="{{ path('admin_payment_edit', {'id': payment.getId}) }}">
                                        <button type="button" class="btn btn-info">Edytuj</button>
                                    </a>
                                    <a href="{{ path('admin_payment_delete', { 'id': payment.getId }) }}">
                                        <button type="button" class="btn btn-danger">Usuń</button>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <span class="kt-switch kt-switch--icon">
                                    <label>
                                        <input type="checkbox" {% if payment.Paid == 1 %}checked="checked"{% endif %} onclick="change({{ payment.id }});"/>
                                        <span id="payment-paid"></span>
                                    </label>
                                </span>
                            </td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon" onclick="archive({{ payment.id }});">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                            <rect x="0" y="7" width="16" height="2" rx="1"/>
                                            <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
                                        </g>
                                    </g>
                                </svg>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% if  december is not empty %}
                    <h2>Grudzień</h2>

                    <table class="kt-datatable-4" id="html_table" width="100%">
                        <thead>
                        <tr>
                            <th class="table-id">#</th>
                            <th>Tytuł</th>
                            <th>Serwis</th>
                            <th>Kwota netto</th>
                            <th>Kwota brutto</th>
                            <th>Typ</th>
                            <th>Aktywne?</th>
                            <th>Data płatności</th>
                            <th>Akcje</th>
                            <th>Zapłacone?</th>
                            <th>Archiwum</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in december %}
                            <tr class="table-data-{{ payment.id }}" {% if payment.Paid == true %} style="background-color: #949494" {% endif %}>
                                <td class="table-id">{{ payment.id }}</td>
                                <td>{{ payment.title }}</td>
                                <td>{{ payment.service }}</td>
                                <td>{{ payment.netAmount }}
                                    {% if payment.grossAmount == null %}
                                        {% if payment.currency == 'DOL' %}
                                            <strong>$</strong>
                                        {% endif %}
                                        {% if payment.currency == 'EUR' %}
                                            <strong>€</strong>
                                        {% endif %}
                                        {% if payment.currency == 'PLN' %}
                                            <strong>zł</strong>
                                        {% endif %}
                                    {% endif %}

                                </td>
                                <td>
                                    {% if payment.grossAmount == null %}
                                        <strong>Brak</strong>
                                    {% else %}
                                        {{ payment.grossAmount }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if payment.cyclic == 1 %}
                                        Cykliczna
                                    {% else %}
                                        Jednorazowa
                                    {% endif %}
                                </td>
                                <td>
                                    {% if payment.active == true %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                             viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"/>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                      fill="#000000" fill-rule="nonzero"/>
                                            </g>
                                        </svg>
                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                             viewBox="0 0 24 24"
                                             version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"/>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z"
                                                      fill="#000000"/>
                                            </g>
                                        </svg>
                                    {% endif %}
                                </td>
                                <td>{{ payment.paymentDate|date('d/m/Y H:s') }}</td>
                                <td>
                                    <div class="kt-section__content--solid">
                                        <a href="{{ path('admin_payment_edit', {'id': payment.getId}) }}">
                                            <button type="button" class="btn btn-info">Edytuj</button>
                                        </a>
                                        <a href="{{ path('admin_payment_delete', { 'id': payment.getId }) }}">
                                            <button type="button" class="btn btn-danger">Usuń</button>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                <span class="kt-switch kt-switch--icon">
                                    <label>
                                        <input type="checkbox" {% if payment.Paid == 1 %}checked="checked"{% endif %} onclick="change({{ payment.id }});"/>
                                        <span id="payment-paid"></span>
                                    </label>
                                </span>
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon" onclick="archive({{ payment.id }});">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                                <rect x="0" y="7" width="16" height="2" rx="1"/>
                                                <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
                                            </g>
                                        </g>
                                    </svg>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if  january is not empty %}
                    <h2>Styczeń</h2>

                    <table class="kt-datatable-5" id="html_table" width="100%">
                        <thead>
                        <tr>
                            <th class="table-id">#</th>
                            <th>Tytuł</th>
                            <th>Serwis</th>
                            <th>Kwota netto</th>
                            <th>Kwota brutto</th>
                            <th>Typ</th>
                            <th>Aktywne?</th>
                            <th>Data płatności</th>
                            <th>Akcje</th>
                            <th>Zapłacone?</th>
                            <th>Archiwum</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in january %}
                            <tr class="table-data-{{ payment.id }}">
                                <td class="table-id">{{ payment.id }}</td>
                                <td>{{ payment.title }}</td>
                                <td>{{ payment.service }}</td>
                                <td>{{ payment.netAmount }}
                                    {% if payment.grossAmount == null %}
                                        {% if payment.currency == 'DOL' %}
                                            <strong>$</strong>
                                        {% endif %}
                                        {% if payment.currency == 'EUR' %}
                                            <strong>€</strong>
                                        {% endif %}
                                        {% if payment.currency == 'PLN' %}
                                            <strong>zł</strong>
                                        {% endif %}
                                    {% endif %}

                                </td>
                                <td>
                                    {% if payment.grossAmount == null %}
                                        <strong>Brak</strong>
                                    {% else %}
                                        {{ payment.grossAmount }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if payment.cyclic == 1 %}
                                        Cykliczna
                                    {% else %}
                                        Jednorazowa
                                    {% endif %}
                                </td>
                                <td>
                                    {% if payment.active == true %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                             viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"/>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                      fill="#000000" fill-rule="nonzero"/>
                                            </g>
                                        </svg>
                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                             viewBox="0 0 24 24"
                                             version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"/>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z"
                                                      fill="#000000"/>
                                            </g>
                                        </svg>
                                    {% endif %}
                                </td>
                                <td>{{ payment.paymentDate|date('d/m/Y H:s') }}</td>
                                <td>
                                    <div class="kt-section__content--solid">
                                        <a href="{{ path('admin_payment_edit', {'id': payment.getId}) }}">
                                            <button type="button" class="btn btn-info">Edytuj</button>
                                        </a>
                                        <a href="{{ path('admin_payment_delete', { 'id': payment.getId }) }}">
                                            <button type="button" class="btn btn-danger">Usuń</button>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                <span class="kt-switch kt-switch--icon">
                                    <label>
                                        <input type="checkbox" {% if payment.Paid == 1 %}checked="checked"{% endif %} onclick="change({{ payment.id }});"/>
                                        <span id="payment-paid"></span>
                                    </label>
                                </span>
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon" onclick="archive({{ payment.id }});">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                                <rect x="0" y="7" width="16" height="2" rx="1"/>
                                                <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
                                            </g>
                                        </g>
                                    </svg>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if  february is not empty %}
                    <h2>Luty</h2>

                    <table class="kt-datatable-6" id="html_table" width="100%">
                        <thead>
                        <tr>
                            <th class="table-id">#</th>
                            <th>Tytuł</th>
                            <th>Serwis</th>
                            <th>Kwota netto</th>
                            <th>Kwota brutto</th>
                            <th>Typ</th>
                            <th>Aktywne?</th>
                            <th>Data płatności</th>
                            <th>Akcje</th>
                            <th>Zapłacone?</th>
                            <th>Archiwum</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in february %}
                            <tr class="table-data-{{ payment.id }}">
                                <td class="table-id">{{ payment.id }}</td>
                                <td>{{ payment.title }}</td>
                                <td>{{ payment.service }}</td>
                                <td>{{ payment.netAmount }}
                                    {% if payment.grossAmount == null %}
                                        {% if payment.currency == 'DOL' %}
                                            <strong>$</strong>
                                        {% endif %}
                                        {% if payment.currency == 'EUR' %}
                                            <strong>€</strong>
                                        {% endif %}
                                        {% if payment.currency == 'PLN' %}
                                            <strong>zł</strong>
                                        {% endif %}
                                    {% endif %}

                                </td>
                                <td>
                                    {% if payment.grossAmount == null %}
                                        <strong>Brak</strong>
                                    {% else %}
                                        {{ payment.grossAmount }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if payment.cyclic == 1 %}
                                        Cykliczna
                                    {% else %}
                                        Jednorazowa
                                    {% endif %}
                                </td>
                                <td>
                                    {% if payment.active == true %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                             viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"/>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                <path d="M16.7689447,7.81768175 C17.1457787,7.41393107 17.7785676,7.39211077 18.1823183,7.76894473 C18.5860689,8.1457787 18.6078892,8.77856757 18.2310553,9.18231825 L11.2310553,16.6823183 C10.8654446,17.0740439 10.2560456,17.107974 9.84920863,16.7592566 L6.34920863,13.7592566 C5.92988278,13.3998345 5.88132125,12.7685345 6.2407434,12.3492086 C6.60016555,11.9298828 7.23146553,11.8813212 7.65079137,12.2407434 L10.4229928,14.616916 L16.7689447,7.81768175 Z"
                                                      fill="#000000" fill-rule="nonzero"/>
                                            </g>
                                        </svg>
                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                             viewBox="0 0 24 24"
                                             version="1.1" class="kt-svg-icon">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"/>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"/>
                                                <path d="M12.0355339,10.6213203 L14.863961,7.79289322 C15.2544853,7.40236893 15.8876503,7.40236893 16.2781746,7.79289322 C16.6686989,8.18341751 16.6686989,8.81658249 16.2781746,9.20710678 L13.4497475,12.0355339 L16.2781746,14.863961 C16.6686989,15.2544853 16.6686989,15.8876503 16.2781746,16.2781746 C15.8876503,16.6686989 15.2544853,16.6686989 14.863961,16.2781746 L12.0355339,13.4497475 L9.20710678,16.2781746 C8.81658249,16.6686989 8.18341751,16.6686989 7.79289322,16.2781746 C7.40236893,15.8876503 7.40236893,15.2544853 7.79289322,14.863961 L10.6213203,12.0355339 L7.79289322,9.20710678 C7.40236893,8.81658249 7.40236893,8.18341751 7.79289322,7.79289322 C8.18341751,7.40236893 8.81658249,7.40236893 9.20710678,7.79289322 L12.0355339,10.6213203 Z"
                                                      fill="#000000"/>
                                            </g>
                                        </svg>
                                    {% endif %}
                                </td>
                                <td>{{ payment.paymentDate|date('d/m/Y H:s') }}</td>
                                <td>
                                    <div class="kt-section__content--solid">
                                        <a href="{{ path('admin_payment_edit', {'id': payment.getId}) }}">
                                            <button type="button" class="btn btn-info">Edytuj</button>
                                        </a>
                                        <a href="{{ path('admin_payment_delete', { 'id': payment.getId }) }}">
                                            <button type="button" class="btn btn-danger">Usuń</button>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                <span class="kt-switch kt-switch--icon">
                                    <label>
                                        <input type="checkbox" {% if payment.Paid == 1 %}checked="checked"{% endif %} onclick="change({{ payment.id }});"/>
                                        <span id="payment-paid"></span>
                                    </label>
                                </span>
                                </td>
                                <td>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon" onclick="archive({{ payment.id }});">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                                <rect x="0" y="7" width="16" height="2" rx="1"/>
                                                <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
                                            </g>
                                        </g>
                                    </svg>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end:: Posty_na_blogu -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function change(id) {
            $(function () {
                $.ajax({
                    url: '/admin/payment/paid/' + id,
                    type: 'POST',
                    success: function (result) {
                        console.log(result);
                        $('.table-data-'+id).find('kt-datatable__cell').addClass('paid');
                    },
                    error: function (result) {
                        console.log(result)
                    }
                });

            });
        }

        function archive(id) {
            $(function () {
                $.ajax({
                    url: '/admin/payment/' + id + '/archive',
                    type: 'POST',
                    success: function (result) {
                        console.log(result);
                        $('.table-data-'+id).hide(500);
                    },
                    error: function (result) {
                        console.log(result)
                    }
                });

            });
        }
    </script>

{% endblock %}