{% extends 'base.html.twig' %}
{% block pageTitle %}Panel - Nowa płatność{% endblock %}
{% block body %}
    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Dodaj nową płatność</h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    {{ form_start(paymentForm) }}
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Tytuł</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(paymentForm.title) }}
                                        {{ form_errors(paymentForm.title) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Serwis</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(paymentForm.service) }}
                                        {{ form_errors(paymentForm.service) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Kwoty</label>
                                <div class="col-7">
                                    <div class="input-group">
                                        <div class="kt-checkbox-list">
                                            <label class="kt-checkbox kt-checkbox--brand">
                                                {{ form_widget(paymentForm.foreignPayment) }}
                                                {{ form_errors(paymentForm.foreignPayment) }}
                                                <p style="padding-left: 30px">Płatność zagraniczna?</p>
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label"></label>
                                <label class="col-1 col-form-label"><span class="currency" style="display: none">Kwota</span><span class="gross">Netto</span></label>
                                <div class="col-4">
                                    <div class="input-group">
                                        {{ form_widget(paymentForm.netAmount) }}
                                        {{ form_errors(paymentForm.netAmount) }}
                                    </div>
                                </div>
                                <label class="col-1 col-form-label gross">Brutto</label>
                                <div class="col-3 gross">
                                    <div class="input-group">
                                        {{ form_widget(paymentForm.grossAmount) }}
                                        {{ form_errors(paymentForm.grossAmount) }}
                                    </div>
                                </div>
                                <label class="col-1 col-form-label currency" style="display: none;">Waluta</label>
                                <div class="col-3 currency" style="display: none">
                                    <div class="input-group">

                                        <select class="form-control kt-select2" id="kt_select2_1" name="_kt_select2_1">
                                            <option value="PLN">Polski Złoty | PLN</option>
                                            <option value="DOL">Euro | €</option>
                                            <option value="EUR">Dollar | $</option>

                                        </select>

                                    </div>
                                </div>
                            </div>
                            <hr style="margin-top: 50px; margin-bottom: 50px;">
                            <div class="form-group row kt-margin-b-20">
                                <label class="col-form-label col-lg-3 col-sm-12">Data płatności</label>
                                    <div class="col-lg-9 col-md-9 col-sm-12">
                                        <input type="text" class="form-control" name="payment_form_paymentDate" id="payment_form_paymentDate" readonly data-z-index="1100" placeholder="Wybierz date" />

                                    </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Aktywna?</label>
                                <div class="col-9">
                                    <div class="input-group">


                                        <div class="kt-checkbox-list">
                                            <label class="kt-checkbox kt-checkbox--brand">
                                                {{ form_widget(paymentForm.active) }}
                                                {{ form_errors(paymentForm.active) }}

                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">płatność cykliczna?</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <div class="kt-checkbox-list">
                                            <label class="kt-checkbox kt-checkbox--brand">
                                                {{ form_widget(paymentForm.cyclic) }}
                                                {{ form_errors(paymentForm.cyclic) }}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Płatność automatyczna? (karta)</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <div class="kt-checkbox-list">
                                            <label class="kt-checkbox kt-checkbox--brand">
                                                {{ form_widget(paymentForm.isAutomatic) }}
                                                {{ form_errors(paymentForm.isAutomatic) }}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row delay" style="display: none">
                                <label class="col-3 col-form-label">Co jaki czas?</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(paymentForm.delayTime) }}
                                        {{ form_errors(paymentForm.delayTime) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Opcje powiadomień</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <div class="input-group" style="padding-bottom: 10px">
                                            <label class="col-3 col-form-label">Dzień przed</label>
                                            {{ form_widget(paymentForm.oneDayNotification) }}
                                            {{ form_errors(paymentForm.oneDayNotification) }}
                                        </div>
                                        <div class="input-group" style="padding-bottom: 10px">
                                            <label class="col-3 col-form-label">Trzy dni przed</label>
                                            {{ form_widget(paymentForm.threeDaysNotification) }}
                                            {{ form_errors(paymentForm.threeDaysNotification) }}
                                        </div>
                                        <div class="input-group" style="padding-bottom: 10px">
                                            <label class="col-3 col-form-label">Sieden dni przed</label>
                                            {{ form_widget(paymentForm.sevenDaysNotification) }}
                                            {{ form_errors(paymentForm.sevenDaysNotification) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <input type="submit" class="btn btn-brand" value="Dodaj">
                            </div>
                        </div>
                    </div>
                    {{ form_end(paymentForm) }}
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>


        $(document).ready(function () {

            let xd = $('#payment_form_grossAmount').val();
            if (xd === ''){
                $('.currency').hide();
                $('.gross').show();
            }
            $('#payment_form_foreignPayment').change(function () {
                if (this.checked) {
                    $('.currency').show();
                    $('.gross').hide();
                } else {
                    $('.currency').hide();
                    $('.gross').show();
                }
            });

            $('#payment_form_cyclic').change(function () {
                if (this.checked) {
                    $('.delay').show();
                }else{
                    $('.delay').hide();
                }
            });

            $('#payment_form_netAmount').on("input propertychange",function(){
                var net =  $('#payment_form_netAmount').val();
                net = ((net * 23)/100) + parseInt(net);
                net = Math.round(net * 100) / 100;
                $('#payment_form_grossAmount').val(net);
            });
        });
    </script>
{% endblock %}
