{% extends 'base.html.twig' %}
{% block title %}Boosttypers::Technologia{% endblock %}
{% block pageTitle %}Panel - Edycja technologii{% endblock %}
{% block body %}
    <!--begin::Portlet-->
    {{ form_start(edit_form) }}
    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Edytuj technologie</h3>
            </div>
        </div>
        <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-xl-2"></div>
                    <div class="col-xl-8">

                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Nazwa</label>
                                    <div class="col-9">
                                        <div class="input-group">
                                            {{ form_widget(edit_form.name) }}
                                            {{ form_errors(edit_form.name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Dodaj Obraz</label>
                                    <div class="col-9">
                                        <div class="input-group">
                                            {{ form_widget(edit_form.pictureFile) }}
                                            {{ form_errors(edit_form.pictureFile) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-9">
                                    <input type="submit" class="btn btn-brand" value="Wyślij">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-2"></div>
                </div>
        </div>
    </div>
    {{ form_end(edit_form) }}
    <!--end::Portlet-->
{% endblock %}