{% extends 'base.html.twig' %}

{% block title %}Boosttypers::Technologie{% endblock %}
{% block pageTitle %}Panel - Technologie{% endblock %}
{% block body %}
    <!-- begin:: posty_na_blogu -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="kt-font-brand flaticon2-line-chart"></i>
										</span>
                    <h3 class="kt-portlet__head-title">
                        Lista Technologii</small>
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-default btn-icon-sm dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-download"></i> Export
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="kt-nav">
                                        <li class="kt-nav__section kt-nav__section--first">
                                            <span class="kt-nav__section-text">Choose an option</span>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon la la-print"></i>
                                                <span class="kt-nav__link-text">Print</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon la la-copy"></i>
                                                <span class="kt-nav__link-text">Copy</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                                <span class="kt-nav__link-text">Excel</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                <span class="kt-nav__link-text">CSV</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                <span class="kt-nav__link-text">PDF</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            &nbsp;
                            <a href="{{ path('admin_technology_new') }}" class="btn btn-brand btn-elevate btn-icon-sm">
                                <i class="la la-plus"></i>
                                Dodaj Technologie
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin: Search Form -->
                <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Szukaj..."
                                               id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
																<span><i class="la la-search"></i></span>
															</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                            <a href="#" class="btn btn-default kt-hidden">
                                <i class="la la-cart-plus"></i> New Order
                            </a>
                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                        </div>
                    </div>
                </div>

                <!--end: Search Form -->
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                <table class="kt-datatable" id="html_table" width="100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Miniatura</th>
                        <th>Data dodania</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for technology in technology %}
                        <tr>
                            <td>{{ technology.getId }}</td>
                            <td>{{ technology.name }}</td>
                            <td>
                                {% if vich_uploader_asset(technology, 'pictureFile') is null %}
                                    <img src="{{ asset('image/default-image.jpg')| imagine_filter('profile_picture_thumbnail_index') }}"/>
                                {% else %}
                                    <img src="{{ vich_uploader_asset(technology, 'pictureFile') | imagine_filter('profile_picture_thumbnail_index') }}"/>
                                {% endif %}
                            </td>
                            <td>{{ technology.createdAt|date("d/m/Y H:i:s") }}</td>
                            <td>
                                <div class="kt-section__content--solid">
                                    <a href="{{ path('admin_technology_edit', { 'id': technology.getId }) }}"><span
                                                class="kt-badge kt-badge--success kt-badge--xl kt-badge--rounded">Edytuj</span></a>
                                    <a href="{{ path('admin_technology_delete', { 'technologyId': technology.getId }) }}"><span
                                                class="kt-badge kt-badge--danger kt-badge--xl kt-badge--rounded">Usuń</span></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!--end: Datatable -->
            </div>
        </div>
    </div>
    <!-- end:: Posty_na_blogu -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function change(id) {
            $(function () {
                $.ajax({
                    url: '/admin/blog/popular/' + id,
                    type: 'POST',
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (result) {
                        console.log(result)
                    }
                });

            });
        }
    </script>
{% endblock %}