@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+ '.eot');
    src: url($font-file+ '.eot?#iefix') format('embedded-opentype'),
  url($font-file+'.woff') format('woff'),
  url($font-file+'.ttf') format('truetype'),
  url($font-file+'.svg#aller') format('svg');
    font-style: normal;
  }
}

@include font('Segoe', '../fonts/segoe/SegoeUI-Bold');
@include font('Poppins', '../fonts/Poppins/Lora-Bold');


@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: 'Poppins-Light';
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: 'NolanNext-Regular';
  src: url("../fonts/NolanNext/Kastelov - NolanNext-Regular.otf");
}
@font-face {
  font-family: 'NolanNext-Medium';
  src: url("../fonts/NolanNext/Kastelov - NolanNext-Medium.otf");
}
@font-face {
  font-family: 'NolanNext-Bold';
  src: url("../fonts/NolanNext/Kastelov - NolanNext-ExtraBold.otf");
}
@font-face {
  font-family: 'NolanNext-Bold-Semi';
  src: url("../fonts/NolanNext/Kastelov - Nolan Next Bold.otf");
}
@font-face {
  font-family: 'NolanNext-Extra';
  src: url("../fonts/NolanNext/Kastelov - NolanNext-Heavy.otf");
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Geomanist/geomanist-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Regular.ttf') format('truetype'),
    //url('../fonts/bitter/bitter-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    //url('../fonts/bitter/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Lora/Lora-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  //url('../fonts/bitter/OpenSans-Regular.svg') format('svg');
}
