@import "fonts";

@function calculateRem($size) {
  $remSize: $size / 16px;
  //Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}


body {
  background: linear-gradient(180deg, #E9F1F9 0%, #FFFFFF 100%);

  .bg-aqua {
    background-color: #F4F9FF;
  }

  .pb95 {
    padding-bottom: 95px;
  }

  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    position: absolute;
    left: 15px;
    top: 15px;
    height: 30px;
    border-radius: 3px;
    background-color: #00D7B7;
    box-shadow: 8px 11px 24px -12px #D4E0ED;
    color: #ffffff;
  }

  .cta-wrapper {
    margin-top: 80px;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(90deg, #1F49CD 0%, #020078 100%);
    box-shadow: 0 30px 44px -20px rgba(3, 0, 121, 0.31);
    padding: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {
      color: #FFFFFF !important;
      font-family: Poppins-Bold !important;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.54px;
      line-height: 36px;
      text-align: center;
    }

    p {
      margin-top: 15px;
      opacity: 0.8;
      color: #FFFFFF !important;
      font-family: Poppins-Light;
      font-size: 14px;
      letter-spacing: 0.49px;
      line-height: 23px;
      text-align: center;
    }
  }

  .btn-back {
    color: #00D7B7;
    font-family: Poppins;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 32px;
  }

  .btn-primary-green:hover {
    cursor: pointer;
  }

  .btn-primary-green {
    color: #FFFFFF !important;
    font-family: Poppins-Bold;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.6px;
    line-height: 32px;
    text-align: center;
    border-radius: 27px;
    background: linear-gradient(61.84deg, #00A1AD 0%, #00D6B7 100%);
    max-width: 196px;
    text-transform: uppercase;
    padding: 15px 40px 15px 40px;
  }

  .btn-secondary-green {
    color: #00DBBE;
    font-family: Poppins-Bold;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.6px;
    line-height: 32px;
    text-align: center;
    border-radius: 27px;
    background: white;
    max-width: 196px;
    text-transform: uppercase;
    border: 1px solid #00DBBE;
    padding: 9px 40px 9px 40px;
    max-height: 50px;
  }

  .blue-txt {
    color: #1E236F;
    font-family: Poppins-Bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.36px;
    line-height: 36px;
  }

  .blue-txt-title {
    color: #1E236F;
    font-family: Poppins-Bold;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.54px;
    line-height: 36px;
  }

  .section-title {
    text-transform: uppercase;
    color: #A0BBDB;
    font-family: Poppins-Bold;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4.78px;
    line-height: 54px;
  }

  .hero-section {
    margin-top: 70px;

    .article-photo {
      background: url("../img/img1.jpeg") center;
      background-size: cover;
      content: " ";
      background-repeat: no-repeat;
      max-height: 409px;
      max-width: 741px;
      min-width: 100%;
      min-height: 100%;
      height: 492px;
      display: block;
      border-radius: 8px;
    }

    .featured-post-wrapper:hover {
      cursor: pointer;
      text-decoration: none;
    }

    .featured-post-wrapper {
      span {
        opacity: 0.6;
        color: #152548;
        font-family: Poppins-Bold;
        font-size: 12px;
        font-weight: bold;
      }

      h1 {
        margin-top: 15px;
        color: #1E236F;
        font-family: Poppins-Bold;
        font-size: 42px;
        font-weight: bold;
        letter-spacing: 0.57px;
        line-height: 54px;
      }

      p {
        margin-top: 15px;
        opacity: 0.6;
        color: #152548;
        font-family: Poppins-Regular;
        font-size: 14px;
        letter-spacing: 0.49px;
      }


    }
  }
  .btn-txt-line:hover {
    cursor: pointer;
    text-decoration: none;
  }
  .btn-txt-line {
    color: #00D6B7;
    font-family: Poppins-Bold;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 32px;
  }

  .blog-xl-wrapper:hover {
    text-decoration: none;
    cursor: pointer;
  }

  .blog-xl-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;

    .article-md-img {
      box-sizing: border-box;
      display: block;
      min-width: 100%;
      min-height: 195px;
      content: "";
      position: relative;
      background: url("../img/img1.jpeg");
      background-size: cover;
      border-radius: 8px;
      margin-bottom: 25px;


      .art-date {
        opacity: 0.6;
        color: #152548;
        font-family: Poppins-Bold;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.42px;
        line-height: 26px;
      }

      p {
        height: 169px;
        width: 393px;
        opacity: 0.6;
        color: #152548;
        font-family: Poppins-Regular;
        font-size: 14px;
        letter-spacing: 0.49px;
        line-height: 26px;
      }

      .rm-btn {
        color: #00D6B7;
        font-family: Poppins-Bold;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.4px;
        line-height: 32px;
      }
    }

    .date-time {
      text-transform: uppercase;
      opacity: 0.6;
      color: #152548;
      font-family: Poppins-Bold;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.42px;
      line-height: 26px;
    }

    p {
      opacity: 0.6;
      color: #152548;
      font-family: Poppins-Regular;
      font-size: 14px;
      letter-spacing: 0.49px;
      line-height: 26px;
    }
  }

  .blog-list-section {
    margin-top: 63px;

    .blog-xl-wrapper:hover {
      text-decoration: none;
      cursor: pointer;
    }


    .popular-single:hover {
      text-decoration: none;
    }

    .popular-single {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #F8FBFF;
      box-shadow: 8px 11px 24px -12px #D4E0ED;
      text-decoration: none;
      margin-bottom: 16px;

      img {
        max-height: 67px;
        max-width: 89px;
        border-radius: 8px;
        margin-right: 24px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  //  blog single
  .hero-wrapper-section {
    padding-top: 40px;

    h1 {
      color: #1E2071;
      font-family: Poppins-Bold;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 1.75px;
      line-height: 74px;
    }

    .article-main-photo {
      position: relative;
      content: "";
      background: url("../img/img1.jpeg") center;
      min-height: 492px;
      max-width: 726px;
      border-radius: 8px;
    }
  }

  .article-content-section {
    margin-top: 30px;

    .publication-date {
      opacity: 0.6;
      color: #152548;
      font-family: Poppins-Bold;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.42px;
      line-height: 26px;
    }

    .sneak-peak {
      opacity: 0.8;
      color: #152548;
      font-family: Poppins-Light;
      font-size: 20px;
      letter-spacing: 0.7px;
      line-height: 38px;
    }

    h2 {
      font-family: Poppins-Bold;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 0.54px;
      color: #1E236F;
      line-height: 36px;
    }

    p {
      opacity: 0.6;
      color: #152548;
      font-family: Poppins-Light;
      font-size: 16px;
      letter-spacing: 0.56px;
      line-height: 32px;
    }
  }

  .related-posts-section {
    padding-top: 40px;
  }

  .contact-form-section {
    .form-control{
      background-color: transparent;
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 0;
      border-bottom: 1px solid white;
      transition: none;
    }

    #contact-input{
      color: white;
      font-size: 14px;
    }

    .cf-wrapper {
      padding: 61px 84px 79px 50px;
      border-radius: 8px;
      background: linear-gradient(90deg, #1F49CD 0%, #1F49CD 100%);
      box-shadow: 0 30px 44px -20px rgba(3, 0, 121, 0.31);

      h5 {
        color: #FFFFFF;
        font-family: Poppins-Bold;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.54px;
        line-height: 36px;
      }

      p {
        opacity: 0.8;
        color: #FFFFFF;
        font-family: Poppins-Light;
        font-size: 14px;
        letter-spacing: 0.49px;
        line-height: 26px;
      }

      .client-testimonial {
        border-radius: 8px;
        background-color: #FFFFFF;
        box-shadow: 8px 11px 24px -12px #D4E0ED;
        padding: 60px 40px 40px;

        .test-txt {
          img {
            height: 27px;
            width: 34px;
            margin-bottom: 30px;
          }

          p {
            opacity: 0.8;
            color: #152548;
            font-family: Poppins-Light;
            font-size: 14px;
            letter-spacing: 0.32px;
            line-height: 28px;
          }

        }

        .test-auth {
          margin-top: 35px;
          display: flex;
          flex-direction: row;

          .img-wrapper {
            img {
              height: 46px;
              width: 46px;
              border-radius: 50%;
              margin-right: 27px;
            }

          }

          .credencial {
            h6 {
              color: #152548;
              font-family: Poppins-Bold;
              font-size: 16px;
              letter-spacing: 0.63px;
              line-height: 20px;
            }

            p {
              color: #152548;
              font-family: Poppins-Regular;
              font-size: 14px;
              letter-spacing: 0.63px;
              line-height: 20px;
            }

          }
        }
      }
    }
  }

  //portfolio-page
  .hero-portfolio {
    margin-bottom: 115px;

    .p-title {
      margin-bottom: 105px;

      span {
        text-transform: uppercase;
        color: #A0BBDB;
        font-family: Poppins-Bold;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 4.78px;
        line-height: 54px;
      }
    }

    h1 {
      color: #1E2071;
      font-family: Poppins-Bold;
      font-size: 50px;
      letter-spacing: 1.75px;
      line-height: 74px;
      margin-bottom: 35px;
    }

    .h-p {
      height: 112px;
      width: 433px;
      opacity: 0.6;
      color: #152548;
      font-family: Poppins-Regular;
      font-size: 14px;
      letter-spacing: 0.49px;
      line-height: 26px;
    }
  }

  .card-single {
    a:hover {
      text-decoration: none;
    }

    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 8px 11px 24px -12px #D4E0ED;
    padding: 30px 30px 30px 25px;
    border-top: 5px solid #00D7B7;

    h3 {
      opacity: 0.8;
      color: #1E2071;
      font-family: Poppins-Bold;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.56px;
      line-height: 26px;
    }

    p {
      opacity: 0.6;
      color: #152548;
      font-family: Poppins-Regular;
      font-size: 14px;
      letter-spacing: 0.49px;
      line-height: 26px;
    }
  }

  .projects {
    .owl-carousel {
      margin-bottom: 50px;
    }

    .owl-carousel .owl-stage {
      display: flex;
      align-items: center;
    }

    .single-project {
      border-radius: 4px;
      background-color: #4991ff;
      padding: 50px;
      margin-bottom: 99px;

      .p-top {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;

        .tag-btn:hover {
          cursor: pointer;
          text-decoration: none;
        }

        .tag-btn {
          color: #1E2071;
          font-family: Poppins-Bold;
          font-size: 12px;
          letter-spacing: 0.42px;
          line-height: 26px;
          text-align: center;
          padding: 5px 15px;
          border-radius: 3px;
          background-color: #FFFFFF;
          box-shadow: 8px 11px 24px -12px #D4E0ED;
          margin-right: 60px;

        }

        .p-tech-wrap {
          display: flex;
          flex-direction: row;

          img {
            margin-right: 18px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }

      }


      .p-body {
        max-width: 480px;

        a:hover {
          cursor: pointer;
          text-decoration: none;
        }

        h4 {
          color: #FFFFFF;
          font-family: Poppins-Bold;
          font-size: 42px;
          letter-spacing: 0.57px;
          line-height: 54px;
        }

        p {
          opacity: 0.8;
          color: #FFFFFF;
          font-family: Poppins-Regular;
          font-size: 14px;
          letter-spacing: 0.49px;
          line-height: 26px;
        }

        span:before {
          width: 26px;
          line-height: 32px;
          content: "";
          display: inline-block;
          border-top: 2px solid white;
          position: relative;
          top: -3px;
          margin-right: 10px;
        }

        span {
          position: relative;
          color: #FFFFFF;
          font-family: Poppins-Bold;
          font-size: 14px;
          letter-spacing: 0.4px;
          line-height: 32px;
        }
      }
    }

    .testimonial-single {
      background-color: white;
      padding: 50px 40px 40px 40px;
      box-shadow: 8px 11px 24px -12px #D4E0ED;
      border-radius: 8px;

      .quote {
        background: url("../img/quote.svg");
        width: 34px;
        height: 27px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 28px;

      }

      p {
        opacity: 0.8;
        color: #152548;
        font-family: Poppins-Regular;
        font-size: 14px;
        letter-spacing: 0.32px;
        line-height: 28px;
        margin-bottom: 0;
      }

      .t-bottom {
        margin-top: 33px;
        display: flex;
        flex-direction: row;

        img {
          height: 46px;
          width: 46px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 25px;
        }

        .t-auth {
          display: flex;
          flex-direction: column;


          span:first-of-type {
            color: #152548;
            font-family: Poppins-Bold;
            font-size: 14px;
            letter-spacing: 0.63px;
            line-height: 20px;
          }

          span:last-of-type {
            color: #152548;
            font-family: Poppins-Regular;
            font-size: 14px;
            letter-spacing: 0.63px;
            line-height: 20px;
          }
        }
      }

    }
  }

  .career-main {
    background-color: #ffffff;
    padding-bottom: 126px;

    .apply-sticky {
      border-left: 1px solid #DFE7F1;
      background-color: #ffffff;
      padding: 46px 0 22px 54px;
      border-radius: 6px;
      border-top-right-radius: 0;
      position: relative;
      top: -150px;

      p {
        opacity: 0.6;
        color: #152548;
        font-family: Poppins;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.49px;
        line-height: 21px;
      }
    }

    .hero-career {
      margin-bottom: 118px;

      .hero-img-wrapper {
        img {
          max-width: 100%;
        }
      }
    }

    span {
      display: block;
      color: #A0BBDB;
      font-family: Poppins;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 3.78px;
      line-height: 54px;
    }

    h1 {
      color: #1E2071;
      font-family: Poppins;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 1.75px;
      line-height: 74px;
    }

    p:first-of-type {
      opacity: 0.8;
      color: #152548;
      font-family: Poppins;
      font-size: 20px;
      letter-spacing: 0.7px;
      line-height: 38px;
    }

    p:last-of-type {
      opacity: 0.6;
      color: #152548;
      font-family: Poppins;
      font-size: 16px;
      letter-spacing: 0.56px;
      line-height: 32px;
    }
  }

  .sub-title-white {
    color: #A0BBDB;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3.78px;
    line-height: 54px;
  }

  .sub-title {
    color: #A0BBDB;
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 3.78px;
    line-height: 54px;
  }

  .title-3-white {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0.52px;
    line-height: 54px;
    text-align: center;
  }

  .title-3 {
    color: #1E236F;
    font-family: Poppins;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0.52px;
    line-height: 54px;
  }

  .section-center {
    margin: 0 auto;
    text-align: center;
  }

  .job-list {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F4F9FF;

    .container-fluid {
      margin: 0 auto;
      max-width: 1260px;
    }

    .job-row {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
    }

    .job-single-wrapper:hover {
      cursor: pointer;
      text-decoration: none;
    }

    .job-single-wrapper {
      background-color: #FFFFFF;
      box-shadow: 8px 11px 24px -12px #D4E0ED;
      padding: 15px 22px 21px 31px;
      min-width: 404px;
      border-radius: 6px;

      .job-single-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h5 {
          opacity: 0.8;
          color: #1E236F;
          font-family: Poppins;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 0.56px;
          line-height: 26px;
          margin-bottom: 0;
        }

        span {
          display: block;
          border-radius: 3px;
          background-color: rgba(98, 140, 208, 0.2);
          color: #628CD0;
          font-family: Poppins;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.42px;
          line-height: 26px;
          padding: 5px 10px 5px 10px;
        }
      }

      .job-single-body {
        margin-top: 36px;

        .salary {
          opacity: 0.6;
          color: #152548;
          font-family: Poppins;
          font-size: 14px;
          letter-spacing: 0.49px;
          line-height: 22px;

        }

        .tech {
          margin-top: 18px;

          img {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            margin-right: 16px;
          }
        }
      }

      .job-single-footer {

        margin-top: 13px;

        span:before {
          position: absolute;
          width: 3px;
          height: 2px;
          display: block;
          content: '';
          border-left: 1px solid #00D7B7;
          left: 0;
        }

        span {
          display: block;
          position: relative;
          text-align: right;

          color: #00D7B7;
          font-family: Poppins;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 0.4px;
          line-height: 32px;
        }

      }
    }

    .recruitment-process {
      margin-top: 205px;
    }

    .process-wrapper {
      margin-top: 86px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 283px;

        img {
          max-height: 156px;
          max-width: 170px;
        }

        h5 {
          margin-top: 66px;
          color: #1E2071;
          font-family: Poppins;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0.45px;
          line-height: 32px;
          text-align: center;
        }

        p {
          margin-top: 13px;
          opacity: 0.6;
          color: #152548;
          font-family: Poppins;
          font-size: 14px;
          letter-spacing: 0.49px;
          line-height: 26px;
          text-align: center;
        }
      }
    }

    .cta-row {
      margin-top: 103px;
      border-radius: 8px;
      background: linear-gradient(90deg, #1F49CD 0%, #1F49CD 100%);
      box-shadow: 0 30px 44px -20px rgba(3, 0, 121, 0.31);
      padding: 36px 36px 56px 36px;

      p:first-of-type {
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.54px;
        line-height: 36px;
      }

      p:last-of-type {
        opacity: 0.8;
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 14px;
        letter-spacing: 0.49px;
        line-height: 26px;
        margin-bottom: 0;
      }
    }
  }

  .skill-group:first-of-type {
    margin-top: 0;
  }

  .skill-group {
    margin-top: 80px;

    span {
      color: #A0BBDB;
      font-family: Poppins;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 3.78px;
      line-height: 54px;
    }

    h6 {
      color: #1E236F;
      font-family: Poppins;
      font-size: 38px;
      font-weight: bold;
      letter-spacing: 0.52px;
      line-height: 54px;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li:last-of-type {
        margin-bottom: 0;
      }

      li:before {
        content: "\2022";
        color: #00D7B7;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        opacity: 1;
      }

      li {
        margin-bottom: 10px;
        opacity: 0.6;
        color: #152548;
        font-family: Poppins;
        font-size: 14px;
        letter-spacing: 0.49px;
        line-height: 26px;
        padding-left: 15px;
      }
    }
  }

  .tech-stack {
    padding-top: 67px;
    padding-bottom: 98px;

    .spacing {
      margin-top: 72px;
    }

    .spacing2 {
      margin-top: 102px;
    }

    .tech-single {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        max-width: 97px;
      }

      .bullets-wrapper {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .bullet:last-of-type {
          margin-right: 0;
        }

        .bullet {
          height: 7px;
          width: 7px;
          background-color: #BFCEE0;
          border-radius: 50%;
          margin-right: 3px;
        }

        .checked {
          background-color: #00D7B7;
        }
      }
    }
  }

  .benefits {
    padding-top: 64px;
    background-color: #1F49CD;
    //padding-bottom: 100px;

    .f-row {
      margin-top: 97px;
    }

    .s-row {
      margin-top: 70px;
    }

    .benefit-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .oval {
        height: 46px;
        width: 46px;
        background-color: #FFFFFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      p {
        margin-top: 16px;
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 14px;
        letter-spacing: 0.49px;
        line-height: 26px;
        text-align: center;
      }
    }

    .job-apply-wrapper {
      position: relative;
      top: 120px;
      border-radius: 8px;
      background-color: #FFFFFF;
      box-shadow: 0 30px 44px -20px rgba(3, 0, 121, 0.31);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 25px;
      padding-bottom: 70px;

      span {
        color: #A0BBDB;
        font-family: Poppins;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 3.78px;
        line-height: 54px;
      }

      p {
        color: #1E236F;
        font-family: Poppins;
        font-size: 38px;
        font-weight: bold;
        letter-spacing: 0.52px;
        line-height: 54px;
        text-align: center;
      }

      .btn-wrap {
        margin-top: 22px;
      }
    }
  }

  .footer-career-cta {
    padding-top: 200px !important;
  }

  .footer {
    padding: 83px 0px 72px 0px;
    background-color: #030079;
    color: #ffffff;
    background-image: url("../img/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;

    p {
      color: #FFFFFF;
      font-family: Poppins;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.49px;
      line-height: 26px;
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;

      li > a:hover {
        cursor: pointer;
      }

      li > a {
        opacity: 0.6;
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 14px;
        letter-spacing: 0.49px;
        line-height: 25px;
        -webkit-transition: 0.2ms time;
        -moz-transition: 0.2ms time;
        -ms-transition: 0.2ms time;
        -o-transition: 0.2ms time;
        transition: 0.2ms time;
      }
    }

    .separator {
      margin-top: 33px;
      border-top: 1px solid #302E83;
      width: 100%;
    }

    .social-media {
      margin-top: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        img {
          max-width: 19px;
          height: 19px;
          color: #ffffff;
        }
      }
    }

    .rights {
      margin-top: 65px;

      p {
        opacity: 0.6;
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 14px;
        letter-spacing: 0.49px;
        line-height: 26px;
      }
    }
  }

  .portfolio-start {
    span {
      margin-top: 70px;
      color: #A0BBDB;
      font-family: Poppins;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 3.78px;
      line-height: 54px;
      display: block;
    }

    h1 {
      color: #1E2071;
      font-family: Poppins;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 1.75px;
      line-height: 74px;
    }

    .technologies-wrapper {
      margin-top: 93px;
      display: flex;
      flex-direction: row;

      .single-tech {
        display: flex;
        flex-direction: row;
        //justify-content: center;
        align-items: center;

        img {
          height: 58px;
          width: 58px;
          border-radius: 50%;
          margin-right: 15px;
        }

        p {
          margin-right: 15px;
          margin-bottom: 0;
        }
      }
    }
  }

  .section-tags {
    background-color: #ffffff;
    margin-top: 35px;
    padding-top: 96px;

    .tags-wrapper {
      display: flex;
      flex-direction: row;

      .tag {
        display: block;
        border-radius: 3px;
        background-color: #F4F9FF;
        margin-right: 15px;
        padding: 5px 10px 5px 10px;

        span {
          opacity: 0.4;
          color: #1E2071;
          font-family: Poppins;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.42px;
          line-height: 26px;
        }
      }
    }

    p {
      margin-top: 33px;
      opacity: 0.6;
      color: #152548;
      font-family: Poppins;
      font-size: 14px;
      letter-spacing: 0.49px;
      line-height: 26px;
    }
  }

  .wireframes-full-width {
    background-color: #ffffff;
    padding-top: 96px;

    p {
      margin-top: 19px;
      opacity: 0.6;
      color: #152548;
      font-family: Poppins;
      font-size: 14px;
      letter-spacing: 0.49px;
      line-height: 26px;
    }
  }

  .typography {
    padding-top: 131px;
    background-color: white;

    h6 {
      color: #1E236F;
      font-family: Poppins;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.45px;
      line-height: 32px;
    }

    p {
      margin-top: 19px;
      opacity: 0.6;
      color: #152548;
      font-family: Poppins;
      font-size: 14px;
      letter-spacing: 0.49px;
      line-height: 26px;
    }

    .font-demo {
      opacity: 0.3;
      color: #152548;
      font-family: Nunito;
      font-size: 214px;
      font-weight: bold;
      letter-spacing: 7.49px;
      line-height: 292px;
    }
  }

  .colors-section {
    padding-top: 143px;
    background-color: #ffffff;
    padding-bottom: 250px;

    .colors-wrapper {
      margin-top: 42px;
      display: flex;
      flex-direction: row;

      .circle {
        height: 172px;
        width: 172px;
        border-radius: 50%;
        display: block;
        content: "";
        position: relative;
      }

      .item-1 {
        position: relative;
        z-index: 6;
      }

      .item-2 {
        position: relative;
        left: -30px;
        z-index: 5;
      }

      .item-3 {
        position: relative;
        left: -60px;
        z-index: 4;
      }

      .item-4 {
        position: relative;
        left: -90px;
        z-index: 3;
      }

      .item-5 {
        position: relative;
        left: -120px;
        z-index: 2;
      }

      .item-6 {
        position: relative;
        left: -150px;

      }
    }
  }

  .features-general {
    padding-top: 149px;

    p {
      margin-top: 32px;
      opacity: 0.6;
      color: #152548;
      font-family: Poppins;
      font-size: 14px;
      letter-spacing: 0.49px;
      line-height: 26px;
    }

    .txt-right-photo {
      margin-top: 92px;
    }
  }

  .portfolio-list {
    background: #ffffff;
    padding-top: 125px;
    padding-bottom: 125px;
    .item-portfolio-wrapper {
      .item-photo {
        width: 100%;
        height: 50vh;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: contain !important;

        .tag {
          border-radius: 3px;
          background-color: #00D7B7;
          padding: 5px 10px 5px 10px;
          position: absolute;
          top: 25px;
          left: 25px;
          color: #FFFFFF;
          font-family: Poppins;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.42px;
          line-height: 26px;
          text-align: center;

          span {

          }
        }
      }

      h4 {
        margin-top: 28px;
        color: #1E236F;
        font-family: Poppins;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.54px;
        line-height: 36px;
      }

      p {
        margin-top: 24px;
        opacity: 0.6;
        color: #152548;
        font-family: Poppins;
        font-size: 14px;
        letter-spacing: 0.49px;
        line-height: 26px;
      }
    }
  }
  .tech-single {
    margin-bottom: 100px;
    img {
      object-fit: contain;
      width: 96px;
      height: 60px;
    }
  }
  .sub-title{
    text-transform: uppercase;
  }

}