{% extends 'frontbase.html.twig' %}

{% block title %}Blog post{% endblock %}

{% block body %}
    <section class="hero-wrapper-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-5 offset-md-1 align-self-center">
                    <h1>{{ article.title }}</h1>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="article-main-photo" style="background: url('../uploads/post-images/{{ article.pictureName }}')">
                        <span class="badge">{{ article.Category.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="article-content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <span class="publication-date">{{ article.createdAt|date('d F Y') }}</span>
                    <p class="sneak-peak">
                        {{ article.shortText|raw }}
                    </p>
                    <h2>
                        Headline
                    </h2>
                    {{ article.content|raw }}
                    <br>
                    <h2>That's all folks!</h2>
                    <div class="auth-wrapper">

                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="cta-wrapper">
                        <h2>estimate your next project</h2>
                        <p>We work with our clients to achieve their business goals while maintaining the perfect product development. Our goal is to make </p>
                        <a href="#" class="btn-primary-green">estimate</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="related-posts-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h5 class="section-title">related posts</h5>
                </div>
            </div>
            <div class="row">
                {% for post in lastArticles %}
                <div class="col-sm-12 col-md-4">
                    <a href="#" class="blog-xl-wrapper">
                        <div class="article-md-img" style="background: url('../uploads/post-images/{{ post.pictureName }}')">
                            <span class="badge">{{ post.Category.name }}</span>
                        </div>
                        <span class="date-time">{{ post.CreatedAt|date('d F') }}</span>
                        <h3 class="blue-txt-title">{{ post.title }}</h3>
                        <p>{{ post.shortText|raw }} </p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="contact-form-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="cf-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <h5>
                                    Let’s talk about your next project
                                </h5>
                                <p>
                                    We work with our clients to achieve their business goals while maintaining the perfect
                                    product development. Our goal is to make
                                </p>

                                {{ form_start(form) }}
                                    <div class="form-group">
                                        <label id="contact-input">Full Name</label>
                                        {{ form_widget(form.fullName) }}
                                    </div>
                                    <div class="form-group">
                                        <label id="contact-input">Email</label>
                                        {{ form_widget(form.email) }}
                                    </div>
                                    <div class="form-group">
                                        <label id="contact-input">Enter message</label>
                                        {{ form_widget(form.message) }}
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>

                                    {{ form_end(form) }}
                            </div>
                            <div class="col-sm-12 col-md-5">
                                <div class="client-testimonial">
                                    <div class="test-txt">
                                        <img src="dist/img/img1.jpeg">
                                        <p>We work with our clients to achieve their business goals while maintaining the
                                            perfect product development. Our goal is to make your idea come into being
                                            effectively and attractively</p>
                                    </div>
                                    <div class="test-auth">
                                        <div class="img-wrapper">
                                            <img src="dist/img/img1.jpeg">
                                        </div>
                                        <div class="credencial">
                                            <h6>Franciszek georgiew</h6>
                                            <p>Social tigers Ceo</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}