{% extends 'frontbase.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="container">
            <div class="row">
                {% for post in posts %}
                    <div class="col-sm-12 col-md-6">
                        <a href="{{ path('article', {'slug': post.slug }) }}" class="article-photo"
                           style="background: url('uploads/post-images/{{ post.pictureName }}')">
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-6 align-self-center">
                        <a href="{{ path('article', {'slug': post.slug}) }}" class="featured-post-wrapper">
                            <span>{{ post.createdAt|date('d F') }}</span>
                            <h1>{{ post.title }}</h1>
                            <p>{{ post.ShortText|raw }}</p>
                            <span class="btn-txt-line">read article</span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="blog-list-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <h5 class="section-title">blog posts</h5>
                    <div class="row">
                        {% for post in allPosts %}
                            <div class="col-sm-12 col-md-6">
                                <a href="{{ path('article', {'slug': post.slug}) }}" class="blog-xl-wrapper">
                                    <div class="article-md-img"
                                         style="background: url('uploads/post-images/{{ post.pictureName }}')">
                                        <span class="badge">{{ post.Category.name }}</span>
                                    </div>
                                    <span class="date-time"> {{ post.CreatedAt|date('d F') }}</span>
                                    <h3 class="blue-txt-title">{{ post.title }}</h3>
                                    <p>{{ post.shortText|raw }}</p>
                                </a>
                            </div>
                        {% endfor %}
                        <a href="#" class="btn-secondary-green">older posts</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h5 class="section-title">popular posts</h5>
                    {% for post in populars %}
                        <a href="{{ path('article', {'slug': post.slug}) }}" class="popular-single">
                            <img src="uploads/post-images/{{ post.pictureName }}">
                            <p class="blue-txt">{{ post.title }}</p>
                        </a>
                    {% endfor %}
                    <div class="cta-wrapper">
                        <h2>estimate your next project</h2>
                        <p>We work with our clients to achieve their business goals while maintaining the perfect
                            product development. </p>
                        <a href="#" class="btn-primary-green">estimate</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}