{% extends 'frontbase.html.twig' %}

{% block title %}Kariera{% endblock %}

{% block body %}
    <section class="career-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <span>Careers</span>
                    <h1>Join us at BoostTypers</h1>
                    <p>We work with our clients to achieve their business goals while maintaining the perfect product
                        development. Our goal is to make your idea come into being effectively and attractively</p>
                    <p>We work with our clients to achieve their business goals while maintaining the perfect product
                        development. Our goal is to make your idea come into being effectively and attractively</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6"></div>
            </div>

        </div>
    </section>
    <section class="job-list">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <span class="sub-title">OPEN POSITION</span>
                    <h3 class="title-3">Job list</h3>
                </div>
            </div>
            <div class="row job-row">
                {% for career in careers %}
                <a href="{{ path('job_offer', {'slug': career.slug}) }}" class="job-single-wrapper">
                    <div class="job-single-head">
                        <h5>{{ career.title }}</h5>
                        <span>{{ career.type }}</span>
                    </div>
                    <div class="job-single-body">
                        <p class="salary">MID: {{ career.rate }} PLN net ({{ career.FormOfCooperation[0] }})</p>
                        <p class="salary">MID: {{ career.rate }} PLN net ({{ career.FormOfCooperation[0] }})</p>
                        <div class="tech">
                            {% for tech in career.technology %}
                                <img src="uploads/post-images/{{ tech.pictureName }}" alt="technology" />
                            {% endfor %}
                        </div>
                    </div>
                    <div class="job-single-footer">
                        <span>Apply</span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="recruitment-process">
                        <div class="section-center">
                            <span class="sub-title">how to be hired</span>
                            <h3 class="title-3">recruitment process</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="process-wrapper">
                        <div class="step">
                            <img src="https://images.unsplash.com/photo-1558980664-1db506751c6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80">
                            <h5>Recruitment task</h5>
                            <p>We’d like to see how you think and solve problems of the type you’ll have work on once you
                                join</p>
                        </div>
                        <div class="step">
                            <img src="https://images.unsplash.com/photo-1558980664-1db506751c6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80">
                            <h5>Recruitment task</h5>
                            <p>We’d like to see how you think and solve problems of the type you’ll have work on once you
                                join</p>
                        </div>
                        <div class="step">
                            <img src="https://images.unsplash.com/photo-1558980664-1db506751c6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80">
                            <h5>Recruitment task</h5>
                            <p>We’d like to see how you think and solve problems of the type you’ll have work on once you
                                join</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cta-row align-items-center">
                <div class="col-sm-12 col-md-6 col-lg-7">
                    <p>
                        Haven’t found what you’re looking for?
                    </p>
                    <p>
                        We work with our clients to achieve their business goals while maintaining the perfect product
                        development. Our goal is to make
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 offset-lg-2 col-lg-3">
                    <a href="#" class="btn-primary-green">contact us</a>
                </div>
            </div>
        </div>
    </section>

    <section class="related-posts-section bg-aqua pb95">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <h5 class="section-title">related posts</h5>
                </div>
            </div>
            <div class="row">
                {% for article in articles %}
                <div class="col-sm-12 col-md-4">
                    <a href="#" class="blog-xl-wrapper">
                        <div class="article-md-img">
                            <span class="badge">{{ article.category.name }}</span>
                        </div>
                        <span class="date-time">{{ article.CreatedAt|date('d F') }}</span>
                        <h3 class="blue-txt-title">{{ article.title }}</h3>
                        <p>{{ article.shortText }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-1 col-lg-1">LOGO</div>
                <div class="col-sm-12 col-md-1 col-lg-3">
                    <p>BoostTypers</p>
                    <ul>
                        <li><a href="#">Opolska 17/108</a></li>
                        <li><a href="#">40-084 Katowice</a></li>
                        <li><a href="#">Poland</a></li>
                        <li><a href="#">NIP</a></li>
                        <li><a href="#">REGON</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-2">
                    <p>Menu</p>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>

                </div>
                <div class="col-sm-12 col-md-1 col-lg-2">
                    <p>Services</p>
                    <ul>
                        <li><a href="#">Web development</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">MVP</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-5 offset-lg-1 col-lg-3">
                    <div style="text-align: right!important;">
                        <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
                        <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="2" data-height="50"
                             data-darkbg="1" data-clutchcompany-id="611277"></div>
                    </div>
                    <div class="separator"></div>
                    <div class="social-media">
                        <a href=""><img class="sm-ico" src="dist/img/fb.png"></a>
                        <a href=""><img class="sm-ico" src="dist/img/instagram.png"></a>
                        <a href=""><img class="sm-ico" src="dist/img/linkdin.png"></a>
                        <a href=""><img class="sm-ico" src="dist/img/dribbble.png"></a>
                    </div>
                </div>
            </div>
            <!--        <div class="row rights">-->
            <!--            <div class="col-sm-12 offset-md-1 offset-lg-1 col-lg-5">-->
            <!--                <p>-->
            <!--                    All rights reserved 2019 © BoostTypers-->
            <!--                </p>-->
            <!--            </div>-->
            <!--        </div>-->
        </div>
    </section>
{% endblock %}
