{% extends 'frontbase.html.twig' %}

{% block title %}Case study{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Front/dist/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Front/dist/css/owl.theme.default.css') }}">
{% endblock %}

{% block body %}
    <section class="hero-portfolio">
        <div class="container">
            <div class="row p-title">
                <div class="col-sm-12 col-md-6">
                    <span>Portfolio</span>
                    <h1>Enterprise software development</h1>
                    <p class="h-p">We work with our clients to achieve their business goals while maintaining the
                        perfect
                        product
                        development. Our goal is to make your idea come into being effectively and attractively</p>
                </div>
                <div class="col-sm-12 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="card-single">
                        <a href="#tutajLinkiDoWpisowNaBloga">
                            <h3>MVP for Startups</h3>
                            <p>This reliable PHP framework is the core of our backend development – great for
                                enterprise-grade
                                systems.</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card-single">
                        <a href="#tutajLinkiDoWpisowNaBloga">
                            <h3>MVP for Startups</h3>
                            <p>This reliable PHP framework is the core of our backend development – great for
                                enterprise-grade
                                systems.</p>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="card-single">
                        <a href="#tutajLinkiDoWpisowNaBloga">
                            <h3>MVP for Startups</h3>
                            <p>This reliable PHP framework is the core of our backend development – great for
                                enterprise-grade
                                systems.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="projects">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    {% for case in casestudy %}
                    <div class="single-project" href="{{ path('casestudyview', {'slug':case.slug}) }}" target="_blank" style="background: url('/uploads/casestudy/{{ case.pictureName }}'); background-size: cover; background-position: center; background-repeat: no-repeat">
                        <div class="p-top">
                        <span href="#" class="tag-btn">
                            {{ case.category.name }}
                        </span>
                            <div class="p-tech-wrap">
                                {% for tech in case.technology %}
                                    <img src="uploads/post-images/{{ tech.pictureName }}" alt="technology" />
                                {% endfor %}
                            </div>
                        </div>
                        <div class="p-body">
                            <a href="{{ path('casestudyview', {'slug':case.slug}) }}">
                                <h4>{{ case.title }}</h4>
                                {{ case.shortText|raw }}
                                <span>See case study</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-sm-12">
                    <div class="owl-carousel">

                        {% for testimonial in testimonials %}
                        <div class="testimonial-single">
                            <div class="quote"></div>
                            <p>
                                {{ testimonial.content }}
                            </p>
                            <div class="t-bottom">
                                <img src="{{ vich_uploader_asset(testimonial, 'pictureFile') }}">
                                <div class="t-auth">
                                    <span>{{ testimonial.fullName }}</span>
                                    <span>{{ testimonial.company }}</span>
                                </div>

                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{{ asset('Front/dist/js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 15,
                dots:true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: false
                    }
                }
            })
        });
    </script>
{% endblock %}