{% extends 'frontbase.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('Front/dist/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('Front/dist/css/owl.theme.default.css') }}">
{% endblock %}

{% block body %}
    <section class="career-main">
        <div class="container">
            <div class="row hero-career">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="{{ path('career') }}" class="btn-back">back to job list</a>
                    <span>Careers</span>
                    <h1>{{ offer.title }}</h1>
                    <p>{{ offer.description|raw }}</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="hero-img-wrapper">
                        <img src="{{ vich_uploader_asset(offer, 'pictureFile') | imagine_filter('gallery_full_image') }}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="skill-group">
                        <h6>if you have</h6>
                        {{ offer.ifYouHave|raw }}
                    </div>
                    <div class="skill-group">
                        <span>Details</span>
                        <h6>responsibilities</h6>
                            {{ offer.responsibilities|raw }}
                    </div>
                    <div class="skill-group">
                        <span>Details</span>
                        <h6>Nice to have</h6>
                            {{ offer.niceToHave|raw }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <div class="apply-sticky">
                        <p>{{ offer.level }}: {{ offer.rate }} PLN net ({{ offer.formOfCooperation[0] }})</p>
                        <div>
                            <a class="btn-primary-green">apply</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="tech-stack">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="recruitment-process">
                        <div class="section-center">
                            <span class="sub-title">we use this</span>
                            <h3 class="title-3">Tech stack</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row spacing">
                {% for tech in offer.techstack %}
                <div class="col-sm-12 col-md-3 col-lg-3 tech-wrapper">
                    <div class="tech-single">
                        <img src="{{ vich_uploader_asset(tech, 'pictureFile') | imagine_filter('gallery_full_image') }}" class="tech-img"/>
                        <div class="bullets-wrapper">
                            {% for i in 1..tech.rate %}
                            <span class="bullet checked"></span>
                            {% endfor %}
                            {% for i in 1..5-tech.rate %}
                                {% if tech.rate != 5 %}
                                <span class="bullet"></span>
                                {% endif %}
                            {% endfor %}

                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <section class="benefits">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="section-center">
                        <span class="sub-title-white">Benefits</span>
                        <h3 class="title-3-white">We give more</h3>
                    </div>
                </div>
            </div>
            <div class="row f-row">
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
            </div>
            <div class="row s-row">
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2 col-lg-2">
                    <div class="benefit-wrapper">
                        <div class="oval">
                            <img src="dist/img/linkdin.png">
                        </div>
                        <p>Game console</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                    <div class="job-apply-wrapper">
                        <span>interested?</span>
                        <p>join us</p>
                        <div class="btn-wrap">
                            <a href="#" class="btn-primary-green">apply for a job</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="footer footer-career-cta">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-1 col-lg-1">LOGO</div>
                <div class="col-sm-12 col-md-1 col-lg-3">
                    <p>BoostTypers</p>
                    <ul>
                        <li><a href="#">Opolska 17/108</a></li>
                        <li><a href="#">40-084 Katowice</a></li>
                        <li><a href="#">Poland</a></li>
                        <li><a href="#">NIP</a></li>
                        <li><a href="#">REGON</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-1 col-lg-2">
                    <p>Menu</p>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>

                </div>
                <div class="col-sm-12 col-md-1 col-lg-2">
                    <p>Services</p>
                    <ul>
                        <li><a href="#">Web development</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">MVP</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-5 offset-lg-1 col-lg-3">
                    <div style="text-align: right!important;">
                        <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
                        <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="2" data-height="50"
                             data-darkbg="1" data-clutchcompany-id="611277"></div>
                    </div>
                    <div class="separator"></div>
                    <div class="social-media">
                        <a href=""><img class="sm-ico" src="dist/img/fb.png"></a>
                        <a href=""><img class="sm-ico" src="dist/img/instagram.png"></a>
                        <a href=""><img class="sm-ico" src="dist/img/linkdin.png"></a>
                        <a href=""><img class="sm-ico" src="dist/img/dribbble.png"></a>
                    </div>
                </div>
            </div>
            <!--        <div class="row rights">-->
            <!--            <div class="col-sm-12 offset-md-1 offset-lg-1 col-lg-5">-->
            <!--                <p>-->
            <!--                    All rights reserved 2019 © BoostTypers-->
            <!--                </p>-->
            <!--            </div>-->
            <!--        </div>-->
        </div>
    </section>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{{ asset('Front/dist/js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 15,
                dots:true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: false
                    }
                }
            })
        });
    </script>
{% endblock %}