{% extends 'frontbase.html.twig' %}

{% block title %}Case study{% endblock %}

{% block body %}
    <section class="portfolio-start">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a href="{{ path('casestudy') }}" class="btn-back">Back to case study list</a>
                    <span>case study</span>
                    <h1>{{ case.title }}</h1>
                    <div class="technologies-wrapper">
                        {% for tech in case.technology %}
                        <div class="single-tech">
                            <img src="../uploads/post-images/{{ tech.pictureName }}">
                            <p>{{ tech.name }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-tags">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <span class="sub-title">overview</span>
                    <h3 class="title-3">What is Adv App?</h3>
                    <div class="tags-wrapper">
                        <div class="tag"><span>mobile</span></div>
                        <div class="tag"><span>ux design</span></div>
                        <div class="tag"><span>UI design</span></div>
                    </div>
                    <p>
                        We work with our clients to achieve their business goals while maintaining the perfect product
                        development. Our goal is to make your idea come into being effectively and attractively We work with
                        our clients to achieve their business goals while maintaining the perfect product development.
                    </p>
                    <p>
                        We work with our clients to achieve their business goals while maintaining the perfect product
                        development. Our goal is to make your idea come into being effectively and attractively
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="wireframes-full-width">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <span class="sub-title">WIREFRAMES</span>
                    <h3 class="title-3">Architecture</h3>
                    <p>
                        We work with our clients to achieve their business goals while maintaining the perfect product
                        development. Our goal is to make your idea come into being effectively and attractively We work with
                        our clients to achieve their business goals while maintaining the perfect product development.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            PHOTOS
        </div>
    </section>
    <section class="typography">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <span class="sub-title">Styleguide</span>
                    <h3 class="title-3">Typography</h3>
                    <h6>Nunito</h6>
                    <p>
                        We work with our clients to achieve their business goals while maintaining the perfect product
                        development.
                    </p>
                </div>
                <div class="col-sm-12 col-md-5 offset-md-1 offset-lg-1 col-lg-6">
                    <div class="font-demo">
                        A-Z
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="colors-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <span class="sub-title">Styleguide</span>
                    <h3 class="title-3">Colors</h3>
                    <div class="colors-wrapper">
                        <div class="circle item-1" style="background-color: #3A46C8;"></div>
                        <div class="circle item-2" style="background-color: #4A90FE;"></div>
                        <div class="circle item-3" style="background-color: #D0E0FB;"></div>
                        <div class="circle item-4" style="background-color: #3DDC97;"></div>
                        <div class="circle item-5" style="background-color: #FDBA4C;"></div>
                        <div class="circle item-6" style="background-color: #B7BEDF;"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="features-general">
        <div class="container">
            <div class="row general-txt-left">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <span class="sub-title">design</span>
                    <h3 class="title-3">login system</h3>
                    <p class="section-p">
                        Nunito is a well balanced sans serif typeface superfamily, with 2 versions: The project began with
                        Nunito, created by Vernon Adams as a rounded terminal sans serif for display typography. Jacques Le
                        Bailly extended it to a full set of weights, and an accompanying regular non-rounded terminal
                        version, Nunito Sans.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6"></div>
            </div>
            <div class="row txt-right-photo">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img src="">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <span class="sub-title">design</span>
                    <h3 class="title-3">map screen</h3>
                    <p class="section-p">
                        Nunito is a well balanced sans serif typeface superfamily, with 2 versions: The project began with
                        Nunito, created by Vernon Adams
                    </p>
                    <img src="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <span class="sub-title">design</span>
                    <h3 class="title-3">screens</h3>
                    <p class="section-p">
                        Nunito is a well balanced sans serif typeface superfamily, with 2 versions: The project began with
                        Nunito, created by Vernon Adams
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6"></div>
            </div>
        </div>
        <div class="container-fluid">
            SLIDER
        </div>
    </section>
    <section class="portfolio-list">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <span class="sub-title">NEXT CASE STUDIES</span>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="item-portfolio-wrapper">
                        <div class="item-photo" style="background: url('https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80')">
                            <div class="tag">mobile application</div>
                        </div>
                        <h4>add app</h4>
                        <p>
                            We work with our clients to achieve their business goals while maintaining the perfect product development. Our goal is to make your idea come into being effectively and attractively
                        </p>
                        <a href="#" class="btn-txt-line">see case study</a>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="item-portfolio-wrapper">
                        <div class="item-photo" style="background: url('https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80')">
                            <div class="tag">mobile application</div>
                        </div>
                        <h4>add app</h4>
                        <p>
                            We work with our clients to achieve their business goals while maintaining the perfect product development. Our goal is to make your idea come into being effectively and attractively
                        </p>
                        <a href="#" class="btn-txt-line">see case study</a>

                    </div>
                </div>


            </div>
        </div>
    </section>
{% endblock %}
