<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    {% block stylesheets %}
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
        <link href="{{ asset('node_modules/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('node_modules/tether/dist/css/tether.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/bootstrap-timepicker/css/bootstrap-timepicker.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('node_modules/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/bootstrap-select/dist/css/bootstrap-select.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/select2/dist/css/select2.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/ion-rangeslider/css/ion.rangeSlider.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('node_modules/nouislider/distribute/nouislider.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/owl.carousel/dist/assets/owl.carousel.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('node_modules/owl.carousel/dist/assets/owl.theme.default.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('node_modules/dropzone/dist/dropzone.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/quill/dist/quill.snow.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/@yaireo/tagify/dist/tagify.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/summernote/dist/summernote.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/bootstrap-markdown/css/bootstrap-markdown.min.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('node_modules/animate.css/animate.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/toastr/build/toastr.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/dual-listbox/dist/dual-listbox.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/morris.js/morris.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/socicon/css/socicon.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('plugins/line-awesome/css/line-awesome.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('plugins/flaticon/flaticon.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('plugins/flaticon2/flaticon.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('plugins/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/@fullcalendar/core/main.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/@fullcalendar/daygrid/main.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/@fullcalendar/list/main.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/@fullcalendar/timegrid/main.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css') }}" rel="stylesheet"
              type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-rowgroup-bs4/css/rowGroup.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/summernote/dist/summernote.css') }} />
        <link href="{{ asset('node_modules/datatables.net-scroller-bs4/css/scroller.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/datatables.net-select-bs4/css/select.bootstrap4.min.css') }}"
              rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/jstree/dist/themes/default/style.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/jqvmap/dist/jqvmap.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('node_modules/uppy/dist/uppy.min.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ asset('css/style.bundle.css') }}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="{{ asset('image/BTLT.png') }}"/>
    {% endblock %}
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->

<!-- begin:: Header Mobile -->
<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        <a href="{{ path('admin_homepage') }}">
            <img alt="Logo" src="{{ asset('image/BTLT.png') }}"/>
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <div class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left"
             id="kt_aside_mobile_toggler"><span></span></div>
        <div class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></div>
        <div class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i
                    class="flaticon-more"></i></div>
    </div>
</div>

<!-- end:: Header Mobile -->
<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

        <!-- begin:: Aside -->
        <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
        <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop"
             id="kt_aside">
            <!-- begin:: Aside Menu -->
            <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1"
                     data-ktmenu-dropdown-timeout="500">
                    <ul class="kt-menu__nav ">
                        <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('admin_homepage') }}"
                                                                           class="kt-menu__link "><i
                                        class="kt-menu__link-icon flaticon2-website"></i><span
                                        class="kt-menu__link-text">Panel główny </span></a></li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
                            data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                                                                  class="kt-menu__link kt-menu__toggle"><i
                                        class="kt-menu__link-icon flaticon2-avatar"></i><span
                                        class="kt-menu__link-text">Użytkownicy<i
                                        class="kt-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span
                                                class="kt-menu__link"><span
                                                    class="kt-menu__link-text">Użytkownicy</span><span
                                                    class="kt-menu__link-badge"><span
                                                        class="kt-badge kt-badge--brand">2</span></span></span></li>

                                    <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('admin_user_list') }}"
                                                                                       class="kt-menu__link "><i
                                                    class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                                    class="kt-menu__link-text">Lista użytkowników</span></a></li>
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('admin_user_new') }}"
                                                                                       class="kt-menu__link "><i
                                                    class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                                    class="kt-menu__link-text">Dodaj użytkownika</span></a></li>
                                </ul>

                            </div>
                        </li>
                        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true"
                            data-ktmenu-submenu-toggle="hover"><a href="javascript:;"
                                                                  class="kt-menu__link kt-menu__toggle"><i
                                        class="kt-menu__link-icon flaticon2-avatar"></i><span
                                        class="kt-menu__link-text">Artykuły</span><i
                                        class="kt-menu__ver-arrow la la-angle-right"></i></a>
                            <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
                                <ul class="kt-menu__subnav">
                                    <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span
                                                class="kt-menu__link"><span
                                                    class="kt-menu__link-text">Użytkownicy</span><span
                                                    class="kt-menu__link-badge"><span
                                                        class="kt-badge kt-badge--brand">2</span></span></span></li>

                                    <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('admin_blog_index') }}"
                                                                                       class="kt-menu__link "><i
                                                    class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                                    class="kt-menu__link-text">Lista artykułów</span></a></li>
                                    <li class="kt-menu__item " aria-haspopup="true"><a href="{{ path('admin_blog_new') }}"
                                                                                       class="kt-menu__link "><i
                                                    class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span
                                                    class="kt-menu__link-text">Dodaj artykuł</span></a></li>
                                </ul>

                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- end:: Aside Menu -->


        </div>


        <!-- end:: Aside -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

            <!-- begin:: Header -->
            <div id="kt_header" class="kt-header kt-grid kt-grid--ver  kt-header--fixed ">



                <!-- end:: Aside -->

                <!-- begin:: Title -->
                <h3 class="kt-header__title kt-grid__item">
                    <img src="{{ asset('uploads/logo.svg') }}">

                </h3>
                <!-- end:: Title -->

                <!-- begin: Header Menu -->
                <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i
                            class="la la-close"></i></button>
                <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
                    <div id="kt_header_menu"
                         class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                        <ul class="kt-menu__nav ">

                        </ul>
                    </div>
                </div>

                <!-- end: Header Menu -->

                <!-- begin:: Header Topbar -->
                <div class="kt-header__topbar">




                    <!--end: Quick actions -->


                    <!--begin: Language bar -->
                    <div class="kt-header__topbar-item kt-header__topbar-item--langs">
                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
									<span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
										<img class="" src="{{ asset('image/flags/poland.svg') }}" alt=""/>
									</span>
                        </div>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim">
                            <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
                                <li class="kt-nav__item kt-nav__item--active">
                                    <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><img
                                                    src="{{ asset('image/flags/united-kingdom.svg') }}" alt=""/></span>
                                        <span class="kt-nav__link-text">Angielski</span>
                                    </a>
                                </li>
                                <li class="kt-nav__item">
                                    <a href="#" class="kt-nav__link">
                                        <span class="kt-nav__link-icon"><img src="{{ asset('image/flags/poland.svg') }}"
                                                                             alt=""/></span>
                                        <span class="kt-nav__link-text">Polski</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--end: Language bar -->

                    <!--begin: User bar -->
                    <div class="kt-header__topbar-item kt-header__topbar-item--user">
                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
                            <span class="kt-hidden kt-header__topbar-welcome">Hi,</span>
                            <span class="kt-hidden kt-header__topbar-username">Nick</span>
                            <img class="kt-hidden" alt="Pic" src="{{ asset('image/users/100_12.jpg') }}"/>
                            <span class="kt-header__topbar-icon kt-hidden-"><i
                                        class="flaticon2-user-outline-symbol"></i></span>
                        </div>
                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                            <!--begin: Head -->
                            <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
                                 style="background-image: url({{ asset('image/misc/bg-1.jpg') }})">
                                <div class="kt-user-card__avatar">
                                    <img class="kt-hidden" alt="Pic" src="{{ asset('image/users/100_12.jpg') }}"/>

                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                    <span class="kt-media kt-media--circle kt-media--success kt-margin-r-5 kt-margin-t-5">
													<span>
                                                           {{ app.user.name| split('')[0] }} {{ app.user.name| split(' ')[1]| split('')[0] }}
													</span>
                                </div>
                                <div class="kt-user-card__name">
                                    {{ app.user.name }}
                                </div>
                            </div>

                            <!--end: Head -->

                            <!--begin: Navigation -->
                            <div class="kt-notification">
                                <a href="{{ path('admin_profile_index') }}"
                                   class="kt-notification__item">
                                    <div class="kt-notification__item-icon">
                                        <i class="flaticon2-calendar-3 kt-font-success"></i>
                                    </div>
                                    <div class="kt-notification__item-details">
                                        <div class="kt-notification__item-title kt-font-bold">
                                            Mój profil
                                        </div>
                                        <div class="kt-notification__item-time">
                                            Ustawienia konta
                                        </div>
                                    </div>
                                </a>
                                <div class="kt-notification__custom kt-space-between">
                                    <a href="{{ path('admin_logout') }}" target="_blank"
                                       class="btn btn-label btn-label-brand btn-sm btn-bold">Wyloguj się</a>
                                </div>
                            </div>

                            <!--end: Navigation -->
                        </div>
                    </div>

                    <!--end: User bar -->

                </div>

                <!-- end:: Header Topbar -->
            </div>

            <!-- end:: Header -->
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

                <!-- begin:: Subheader -->
                <div class="kt-subheader   kt-grid__item" id="kt_subheader">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-subheader__main">
                            <h3 class="kt-subheader__title">
                                {% block pageTitle %}{% endblock %}</h3>
                        </div>
                        <div class="kt-subheader__toolbar">
                            <div class="kt-subheader__wrapper">
                                <a href="#" class="btn kt-subheader__btn-daterange" id="kt_dashboard_daterangepicker"
                                   data-toggle="kt-tooltip" title="" data-placement="left">
                                    <span class="kt-subheader__btn-daterange-title"
                                          id="kt_dashboard_daterangepicker_title"></span>&nbsp;
                                    <span class="kt-subheader__btn-daterange-date"
                                          id="kt_dashboard_daterangepicker_date"></span>

                                    <!--<i class="flaticon2-calendar-1"></i>-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                                         class="kt-svg-icon kt-svg-icon--sm">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24"/>
                                            <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z"
                                                  fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                            <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z"
                                                  fill="#000000"/>
                                        </g>
                                    </svg>
                                </a>
                                <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title=""
                                     data-placement="bottom">
                                    <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                             viewBox="0 0 24 24" version="1.1"
                                             class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24"/>
                                                <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                                                      fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z"
                                                      fill="#000000"/>
                                            </g>
                                        </svg>

                                        <!--<i class="flaticon2-plus"></i>-->
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">

                                        <!--begin::Nav-->
                                        <ul class="kt-nav">
                                            <li class="kt-nav__head">
                                                Panel szybkiego wyboru:
                                                <i class="flaticon2-information" data-toggle="kt-tooltip"
                                                   data-placement="right" title=""></i>
                                            </li>
                                            <li class="kt-nav__separator"></li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-drop"></i>
                                                    <span class="kt-nav__link-text">Dodaj post</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                                    <span class="kt-nav__link-text">Dodaj oferte pracy</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__item">
                                                <a href="#" class="kt-nav__link">
                                                    <i class="kt-nav__link-icon flaticon2-telegram-logo"></i>
                                                    <span class="kt-nav__link-text">Dodaj użytkownika</span>
                                                </a>
                                            </li>
                                            <li class="kt-nav__separator"></li>
                                            <li class="kt-nav__foot">
                                                <a class="btn btn-label-brand btn-bold btn-sm" href="#">&copy;
                                                    Boosttypers.com 1.4.5</a>
                                            </li>
                                        </ul>

                                        <!--end::Nav-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end:: Subheader -->
                <!-- begin:: Content -->
                <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

                    {#                            <div class="alert alert-success fade show" role="alert">#}
                    {#                                <div class="alert-icon"><i class="flaticon-warning"></i></div>#}
                    {#                                <div class="alert-text">Masz 5 nieprzeczytanych maili</div>#}
                    {#                                <div class="alert-close">#}
                    {#                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
                    {#                                        <span aria-hidden="true"><i class="la la-close"></i></span>#}
                    {#                                    </button>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        {% endif %}#}
                    {#                    {% endif %}#}
                    {#                    {% for message in app.flashes('success') %}#}
                    {#                        <div class="alert alert-success fade show" role="alert">#}
                    {#                            <div class="alert-icon"><i class="flaticon-warning"></i></div>#}
                    {#                            <div class="alert-text">{{ message }}</div>#}
                    {#                            <div class="alert-close">#}
                    {#                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
                    {#                                    <span aria-hidden="true"><i class="la la-close"></i></span>#}
                    {#                                </button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}
                    {#                    {% for message in app.flashes('error') %}#}
                    {#                        <div class="alert alert-warning fade show" role="alert">#}
                    {#                            <div class="alert-icon"><i class="flaticon-warning"></i></div>#}
                    {#                            <div class="alert-text">{{ message }}</div>#}
                    {#                            <div class="alert-close">#}
                    {#                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
                    {#                                    <span aria-hidden="true"><i class="la la-close"></i></span>#}
                    {#                                </button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    {% endfor %}#}
                    {#                    {% block body %}{% endblock %}#}
                    {#                </div>#}
                    {% block body %}{% endblock %}
                    <!-- end:: Content -->
                </div>

                <!-- begin:: Footer -->
                <div class="kt-footer  kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
                    <div class="kt-container  kt-container--fluid ">
                        <div class="kt-footer__copyright">
                            2020&nbsp;&copy;&nbsp;<a href="https://boostttypers.com" target="_blank" class="kt-link">keepthelabel.com</a>
                        </div>
                        <div class="kt-footer__menu">
                            <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">FAQ</a>
                            <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Polityka
                                prywatności</a>
                            <a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Kontakt</a>
                        </div>
                    </div>
                </div>

                <!-- end:: Footer -->
            </div>
        </div>
    </div>

    <!-- end:: Page -->

    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->


    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#22b9ff",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>

    {% block javascripts %}
        <script src="{{ asset('node_modules/dropzone/dist/dropzone.js') }}" type="text/javascript"></script>
        <script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jquery/dist/jquery.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/popper.js/dist/umd/popper.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/js-cookie/src/js.cookie.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/moment/min/moment.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/tooltip.js/dist/umd/tooltip.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/perfect-scrollbar/dist/perfect-scrollbar.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/sticky-js/dist/sticky.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/wnumb/wNumb.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jquery-form/dist/jquery.form.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/block-ui/jquery.blockUI.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('js/global/integration/plugins/bootstrap-datepicker.init.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('js/global/integration/plugins/bootstrap-timepicker.init.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-daterangepicker/daterangepicker.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-maxlength/src/bootstrap-maxlength.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('plugins/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-select/dist/js/bootstrap-select.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-switch/dist/js/bootstrap-switch.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('js/global/integration/plugins/bootstrap-switch.init.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/select2/dist/js/select2.full.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/ion-rangeslider/js/ion.rangeSlider.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/typeahead.js/dist/typeahead.bundle.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/handlebars/dist/handlebars.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/inputmask/dist/jquery.inputmask.bundle.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/inputmask/dist/inputmask/inputmask.date.extensions.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/inputmask/dist/inputmask/inputmask.numeric.extensions.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/nouislider/distribute/nouislider.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/owl.carousel/dist/owl.carousel.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/autosize/dist/autosize.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/clipboard/dist/clipboard.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/global/integration/plugins/dropzone.init.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/quill/dist/quill.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/@yaireo/tagify/dist/tagify.polyfills.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/@yaireo/tagify/dist/tagify.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/summernote/dist/summernote.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/markdown/lib/markdown.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-markdown/js/bootstrap-markdown.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('js/global/integration/plugins/bootstrap-markdown.init.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/bootstrap-notify/bootstrap-notify.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/global/integration/plugins/bootstrap-notify.init.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/jquery-validation/dist/jquery.validate.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jquery-validation/dist/additional-methods.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('js/global/integration/plugins/jquery-validation.init.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('assets/js/pages/crud/forms/widgets/summernote.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/toastr/build/toastr.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/dual-listbox/dist/dual-listbox.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/raphael/raphael.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/morris.js/morris.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/chart.js/dist/Chart.bundle.js') }}" type="text/javascript"></script>
        <script src="{{ asset('plugins/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('plugins/jquery-idletimer/idle-timer.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/waypoints/lib/jquery.waypoints.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/counterup/jquery.counterup.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/es6-promise-polyfill/promise.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/sweetalert2/dist/sweetalert2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/global/integration/plugins/sweetalert2.init.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/jquery.repeater/src/lib.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jquery.repeater/src/jquery.input.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jquery.repeater/src/repeater.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/dompurify/dist/purify.js') }}" type="text/javascript"></script>
        <script src="{{ asset('plugins/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/@fullcalendar/core/main.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/@fullcalendar/daygrid/main.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/@fullcalendar/google-calendar/main.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/@fullcalendar/interaction/main.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/@fullcalendar/list/main.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/@fullcalendar/timegrid/main.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/gmaps/gmaps.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/flot/dist/es5/jquery.flot.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/flot/source/jquery.flot.resize.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/flot/source/jquery.flot.categories.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/flot/source/jquery.flot.pie.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/flot/source/jquery.flot.stack.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/flot/source/jquery.flot.crosshair.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/flot/source/jquery.flot.axislabels.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net/js/jquery.dataTables.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-autofill/js/dataTables.autoFill.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-autofill-bs4/js/autoFill.bootstrap4.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/jszip/dist/jszip.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/pdfmake/build/pdfmake.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/pdfmake/build/vfs_fonts.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-buttons/js/dataTables.buttons.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-buttons/js/buttons.colVis.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-buttons/js/buttons.flash.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-buttons/js/buttons.html5.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-buttons/js/buttons.print.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-colreorder/js/dataTables.colReorder.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-fixedcolumns/js/dataTables.fixedColumns.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-keytable/js/dataTables.keyTable.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-responsive/js/dataTables.responsive.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-rowgroup/js/dataTables.rowGroup.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-rowreorder/js/dataTables.rowReorder.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-scroller/js/dataTables.scroller.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/datatables.net-select/js/dataTables.select.min.js') }}"
                type="text/javascript"></script>
        <script src="{{ asset('node_modules/jqvmap/dist/jquery.vmap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.world.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.russia.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.usa.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.germany.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.europe.js') }}" type="text/javascript"></script>
        <script src="{{ asset('node_modules/uppy/dist/uppy.min.js') }}" type="text/javascript"></script>
        <script src="//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM"
                type="text/javascript"></script>
        <script src="{{ asset('js/pages/dashboard.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/scripts.bundle.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/pages/crud/metronic-datatable/base/html-table.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/pages/crud/file-upload/dropzonejs.js') }}" type="text/javascript"></script>
        <script src="{{ asset('ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
        <script>
            $(function () {
                $('textarea.ckeditor').ckeditor();
            })
        </script>
        <script src="{{ asset('js/pages/dashboard.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/pages/custom/user/profile.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/pages/crud/forms/widgets/bootstrap-datepicker.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/pages/crud/forms/widgets/bootstrap-datetimepicker.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/pages/crud/forms/widgets/bootstrap-switch.js') }}" type="text/javascript"></script>
    {% endblock %}
</body>
</html>
