<!doctype html>
<html lang="pl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Boosttypers - {% block title %}{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('Front/dist/css/style.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-1 col-lg-1">LOGO</div>
            <div class="col-sm-12 col-md-1 col-lg-3">
                <p>BoostTypers</p>
                <ul>
                    <li><a href="#">Opolska 17/108</a></li>
                    <li><a href="#">40-084 Katowice</a></li>
                    <li><a href="#">Poland</a></li>
                    <li><a href="#">NIP</a></li>
                    <li><a href="#">REGON</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-1 col-lg-2">
                <p>Menu</p>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

            </div>
            <div class="col-sm-12 col-md-1 col-lg-2">
                <p>Services</p>
                <ul>
                    <li><a href="#">Web development</a></li>
                    <li><a href="#">Mobile</a></li>
                    <li><a href="#">MVP</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-5 offset-lg-1 col-lg-3">
                <div style="text-align: right!important;">
                    <script type="text/javascript" src="https://widget.clutch.co/static/js/widget.js"></script>
                    <div class="clutch-widget" data-url="https://widget.clutch.co" data-widget-type="2" data-height="50"
                         data-darkbg="1" data-clutchcompany-id="611277"></div>
                </div>
                <div class="separator"></div>
                <div class="social-media">
                    <a href=""><img class="sm-ico" src="dist/img/fb.png"></a>
                    <a href=""><img class="sm-ico" src="dist/img/instagram.png"></a>
                    <a href=""><img class="sm-ico" src="dist/img/linkdin.png"></a>
                    <a href=""><img class="sm-ico" src="dist/img/dribbble.png"></a>
                </div>
            </div>
        </div>
        <!--        <div class="row rights">-->
        <!--            <div class="col-sm-12 offset-md-1 offset-lg-1 col-lg-5">-->
        <!--                <p>-->
        <!--                    All rights reserved 2019 © BoostTypers-->
        <!--                </p>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</section>

{% block javascript %}{% endblock %}
</body>
</html>