{% extends 'base.html.twig' %}
{% block pageTitle %}Panel - Nowa opinia{% endblock %}
{% block body %}
    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Dodaj nową opinie</h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    {{ form_start(form) }}
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Imię i nazwisko</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(form.fullName) }}
                                        {{ form_errors(form.fullName) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Firma / Projekt</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(form.company) }}
                                        {{ form_errors(form.company) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Treść</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i
                                                        class="la la-commenting"></i></span></div>
                                        {{ form_widget(form.content) }}
                                        {{ form_errors(form.content) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                                <div class="col-lg-9 col-xl-6">
                                    {{ form_widget(form.pictureFile) }}
                                    {{ form_errors(form.pictureFile) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Aktywny?</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        <div class="kt-checkbox-list">
                                            <label class="kt-checkbox kt-checkbox--brand">
                                                {{ form_widget(form.active) }}
                                                {{ form_errors(form.active) }}

                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <input type="submit" class="btn btn-brand" value="Wyślij">
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

    <!--end::Portlet-->
{% endblock %}