{% extends 'base.html.twig' %}
{% block pageTitle %}Panel - Nowa oferta pracy{% endblock %}
{% block body %}
    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Dodaj nową oferte pracy</h3>
            </div>
        </div>
        <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-xl-2"></div>
                    <div class="col-xl-8">
                        {{ form_start(edit_form) }}
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Tytuł</label>
                                    <div class="col-9">
                                        <div class="input-group">
                                            {{ form_widget(edit_form.title) }}
                                            {{ form_errors(edit_form.title) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Krótki tekst</label>
                                    <div class="col-9">
                                        <div class="input-group">
                                            {{ form_widget(edit_form.shortText) }}
                                            {{ form_errors(edit_form.shortText) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Obrazek tła</label>
                                    <div class="col-9">
                                        <div class="input-group">
                                            {{ form_widget(edit_form.pictureFile) }}
                                            {{ form_errors(edit_form.pictureFile) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Technologie</label>
                                    <div class="col-9">
                                        <div class="input-group">
                                            {{ form_widget(edit_form.technology) }}
                                            {{ form_errors(edit_form.technology) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Kategoria</label>
                                    <div class="col-9">
                                        <div class="input-group">
                                            {{ form_widget(edit_form.category) }}
                                            {{ form_errors(edit_form.category) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Aktywny?</label>
                                    <div class="col-9">
                                        <div class="input-group">
                                            {{ form_widget(edit_form.active) }}
                                            {{ form_errors(edit_form.active) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="kt-portlet__foot">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-9">
                                    <input type="submit" class="btn btn-brand" value="Wyślij">
                                </div>
                            </div>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>
                    <div class="col-xl-2"></div>
                </div>
        </div>
    </div>

    <!--end::Portlet-->
{% endblock %}