{% extends 'base.html.twig' %}
{% block pageTitle %}Panel - Modyfikuj artykuł{% endblock %}
{% block body %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('assets/plugins/general/@yaireo/tagify/dist/tagify.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
<!--begin::Portlet-->
<div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">Modyfikuj artykuł na blogu</h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                {{ form_start(edit_form) }}
                <div class="kt-section kt-section--first">
                    <div class="kt-section__body">
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Tytuł</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.title) }}
                                    {{ form_errors(edit_form.title) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Treść</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.content) }}
                                    {{ form_errors(edit_form.content) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Krótki text</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.shortText) }}
                                    {{ form_errors(edit_form.shortText) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Czas czytania</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.readTime) }}
                                    {{ form_errors(edit_form.readTime) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Aktywny?</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.active) }}
                                    {{ form_errors(edit_form.active) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Dodaj Obraz</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.pictureFile) }}
                                    {{ form_errors(edit_form.pictureFile) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
    </div>

    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-8">
                <div class="kt-section kt-section--first">
                    <h2>SEO</h2>
                    <hr style="margin-bottom: 50px">
                    <div class="kt-section__body">
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Tytuł</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.seo.title) }}
                                    {{ form_errors(edit_form.seo.title) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-3 col-form-label">Slug</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.seo.slug) }}
                                    {{ form_errors(edit_form.seo.slug) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Robots</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.seo.robots) }}
                                    {{ form_errors(edit_form.seo.robots) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Słowa kluczowe</label>
                            <div class="col-9">
                                <div class="input-group">
                                    <input id="kt_tagify_1" name='tags' placeholder='Wpisz słowa...' value='' autofocus data-blacklist=''>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Opis</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.seo.description) }}
                                    {{ form_errors(edit_form.seo.description) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-form-label">Canonical URL</label>
                            <div class="col-9">
                                <div class="input-group">
                                    {{ form_widget(edit_form.seo.canonical) }}
                                    {{ form_errors(edit_form.seo.canonical) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <input type="submit" class="btn btn-brand" value="Wyślij">
                            </div>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

    <!--end::Portlet-->
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('assets/js/pages/crud/forms/widgets/tagify.js') }}" type="text/javascript"></script>
    {% endblock %}
