<!DOCTYPE html>

<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}KTL - Logowanie{% endblock %}</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    {% block stylesheets %}
        <link href="{{ asset('css/pages/login/login-2.css') }}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
        <link href="{{ asset('node_modules/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/tether/dist/css/tether.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/bootstrap-timepicker/css/bootstrap-timepicker.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/bootstrap-select/dist/css/bootstrap-select.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/select2/dist/css/select2.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/ion-rangeslider/css/ion.rangeSlider.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/nouislider/distribute/nouislider.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/owl.carousel/dist/assets/owl.carousel.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/owl.carousel/dist/assets/owl.theme.default.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/dropzone/dist/dropzone.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/quill/dist/quill.snow.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/@yaireo/tagify/dist/tagify.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/summernote/dist/summernote.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/bootstrap-markdown/css/bootstrap-markdown.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/animate.css/animate.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/toastr/build/toastr.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/dual-listbox/dist/dual-listbox.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/morris.js/morris.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/sweetalert2/dist/sweetalert2.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/socicon/css/socicon.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/plugins/line-awesome/css/line-awesome.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/plugins/flaticon/flaticon.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/plugins/flaticon2/flaticon.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/@fortawesome/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/plugins/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/@fullcalendar/core/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/@fullcalendar/daygrid/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/@fullcalendar/list/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/@fullcalendar/timegrid/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/jstree/dist/themes/default/style.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/jqvmap/dist/jqvmap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('node_modules/uppy/dist/uppy.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/style.bundle.css') }}" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{{ asset('image/BTLT.png') }}"/>
    {% endblock %}
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-aside--minimize kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root kt-page">
    <div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v2 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(assets/media//bg/bg-1.jpg);">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <img src="{{ asset('uploads/logo.svg') }}" style="fill: white; color: white">
                    </div>
                    <div class="kt-login__signin">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Zaloguj się do panelu</h3>
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                        </div>
                        <form class="kt-form" method="post">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Email" name="email" autocomplete="off" value="{{ last_username }}">
                            </div>
                            <div class="input-group">
                                <input class="form-control" type="password" placeholder="Hasło" name="password">
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="row kt-login__extra">
                                <div class="col">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" name="_remember_me"> Zapamiętaj mnie
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col kt-align-right">
                                    <a href="javascript:;" id="kt_login_forgot" class="kt-link kt-login__link">Zapomniałeś hasła?</a>
                                </div>
                            </div>
                            <div class="kt-login__actions">
                                <button id="kt_login_signin_submit" class="btn btn-pill kt-login__btn-primary">Zaloguj</button>
                            </div>
                        </form>
                    </div>

                    <div class="kt-login__forgot">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Forgotten Password ?</h3>
                            <div class="kt-login__desc">Enter your email to reset your password:</div>
                        </div>
                        <form class="kt-form" action="">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email" autocomplete="off">
                            </div>
                            <div class="kt-login__actions">
                                <button id="kt_login_forgot_submit" class="btn btn-pill kt-login__btn-primary">Request</button>&nbsp;&nbsp;
                                <button id="kt_login_forgot_cancel" class="btn btn-pill kt-login__btn-secondary">Cancel</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Page -->

<!-- begin::Global Config(global config for global JS sciprts) -->
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#22b9ff",
                "light": "#ffffff",
                "dark": "#282a3c",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>

<!-- end::Global Config -->

<!--begin::Global Theme Bundle(used by all pages) -->


{% block javascripts %}
    <script src="{{ asset('node_modules/jquery/dist/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/popper.js/dist/umd/popper.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/js-cookie/src/js.cookie.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/moment/min/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/tooltip.js/dist/umd/tooltip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/perfect-scrollbar/dist/perfect-scrollbar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/sticky-js/dist/sticky.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/wnumb/wNumb.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jquery-form/dist/jquery.form.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/block-ui/jquery.blockUI.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/js/global/integration/plugins/bootstrap-datepicker.init.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/js/global/integration/plugins/bootstrap-timepicker.init.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-maxlength/src/bootstrap-maxlength.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/plugins/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-select/dist/js/bootstrap-select.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-switch/dist/js/bootstrap-switch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/js/global/integration/plugins/bootstrap-switch.init.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/select2/dist/js/select2.full.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/ion-rangeslider/js/ion.rangeSlider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/typeahead.js/dist/typeahead.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/handlebars/dist/handlebars.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/inputmask/dist/jquery.inputmask.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/inputmask/dist/inputmask/inputmask.date.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/inputmask/dist/inputmask/inputmask.numeric.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/nouislider/distribute/nouislider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/owl.carousel/dist/owl.carousel.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/autosize/dist/autosize.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/clipboard/dist/clipboard.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/dropzone/dist/dropzone.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/js/global/integration/plugins/dropzone.init.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/quill/dist/quill.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@yaireo/tagify/dist/tagify.polyfills.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@yaireo/tagify/dist/tagify.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/summernote/dist/summernote.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/markdown/lib/markdown.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-markdown/js/bootstrap-markdown.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/js/global/integration/plugins/bootstrap-markdown.init.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/bootstrap-notify/bootstrap-notify.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/js/global/integration/plugins/bootstrap-notify.init.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jquery-validation/dist/jquery.validate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jquery-validation/dist/additional-methods.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/js/global/integration/plugins/jquery-validation.init.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/toastr/build/toastr.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/dual-listbox/dist/dual-listbox.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/raphael/raphael.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/morris.js/morris.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/chart.js/dist/Chart.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/plugins/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/plugins/jquery-idletimer/idle-timer.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/waypoints/lib/jquery.waypoints.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/counterup/jquery.counterup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/es6-promise-polyfill/promise.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/sweetalert2/dist/sweetalert2.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/js/global/integration/plugins/sweetalert2.init.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jquery.repeater/src/lib.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jquery.repeater/src/jquery.input.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jquery.repeater/src/repeater.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/dompurify/dist/purify.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/plugins/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@fullcalendar/core/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@fullcalendar/daygrid/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@fullcalendar/google-calendar/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@fullcalendar/interaction/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@fullcalendar/list/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/@fullcalendar/timegrid/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/gmaps/gmaps.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/flot/dist/es5/jquery.flot.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/flot/source/jquery.flot.resize.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/flot/source/jquery.flot.categories.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/flot/source/jquery.flot.pie.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/flot/source/jquery.flot.stack.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/flot/source/jquery.flot.crosshair.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/flot/source/jquery.flot.axislabels.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jszip/dist/jszip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/pdfmake/build/pdfmake.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/pdfmake/build/vfs_fonts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jstree/dist/jstree.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jqvmap/dist/jquery.vmap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.world.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.russia.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.usa.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.germany.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/jqvmap/dist/maps/jquery.vmap.europe.js') }}" type="text/javascript"></script>
    <script src="{{ asset('node_modules/uppy/dist/uppy.min.js') }}" type="text/javascript"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>
    <script src="{{ asset('js/pages/dashboard.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/scripts.bundle.js') }}" type="text/javascript"></script>
{% endblock %}
<!--end::Page Scripts -->
</body>

</html>
