{% extends 'base.html.twig' %}
{% block pageTitle %}Panel - Nowa ankieta{% endblock %}
{% block body %}
    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Dodaj nową ankiete</h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <button class="btn btn-brand btn-elevate btn-icon-sm" onclick="newItem();">
                        <i class="la la-plus"></i>
                        Dodaj Pytanie
                    </button>
                </div>
            </div>

        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    {{ form_start(surveyForm) }}
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Tytuł ankiety</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(surveyForm.title) }}
                                        {{ form_errors(surveyForm.title) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <input type="submit" class="btn btn-brand" value="Wyślij">
                            </div>
                        </div>
                    </div>
                    {{ form_end(surveyForm) }}
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

    <!--end::Portlet-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let num = 1;

        function newItem() {
            $(function () {
                $(".kt-section__body").append("<div class=\"form-group row field" + num + " \">\n" +
                "                                    <label class=\"col-3 col-form-label\">Pytanie " + num + "</label>\n" +
                "                                    <div class=\"col-7\">\n" +
                "                                        <div class=\"input-group\">\n" +
                "                                            <input type='text' class='form-control'/>" +
                "                                        </div>\n" +
                "                                    </div>\n" +
                "                                       <div class='col-2'>" +
                "                                            <label class=\"kt-checkbox kt-checkbox--brand\">\n" +
                "<input type=\"checkbox\"> Odpowiedz otwarta?\n" +
                "<span></span>\n" +
                "</label>             " +
                "                                        </select></div>" +
                "                                </div>");
                num = num + 1;


            });

        }

    </script>

{% endblock %}