{% extends 'base.html.twig' %}

{% block title %}Boosttypers::Użytkownicy{% endblock %}
{% block pageTitle %}Panel - Lista użytkowników{% endblock %}
{% block body %}
    <!-- begin:: posty_na_blogu -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="kt-font-brand flaticon2-line-chart"></i>
										</span>
                    <h3 class="kt-portlet__head-title">
                        Lista użytkowników</small>
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">

                            &nbsp;
                            <a href="{{ path('admin_user_new') }}" class="btn btn-brand btn-elevate btn-icon-sm">
                                <i class="la la-plus"></i>
                                Dodaj użytkownika
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin: Search Form -->
                <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Szukaj..."
                                               id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
																<span><i class="la la-search"></i></span>
															</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                            <a href="#" class="btn btn-default kt-hidden">
                                <i class="la la-cart-plus"></i> New Order
                            </a>
                            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                        </div>
                    </div>
                </div>

                <!--end: Search Form -->
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">

                <!--begin: Datatable -->
                <table class="kt-datatable" id="html_table" width="100%">
                    <thead>
                    <tr>
                        <th class="table-id">#</th>
                        <th>Imię</th>
                        <th>E-mail</th>
                        <th>Rola</th>
                        <th>Ostatnia aktywność</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="table-id">{{ user.id }}</td>
                            <td>
                                {% if user.name == null %}
                                    <div class="kt-section__content kt-section__content--solid">
                                    <span class="kt-badge kt-badge--dark kt-badge--inline kt-badge--pill kt-badge--rounded">Brak</span>
                                    </div>
                                {% else %}
                                {{ user.name }}
                                    {% endif %}</td>
                            <td>{{ user.email }}</td>
                            <td>
                                <div class="kt-section__content kt-section__content--solid">
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded">Administrator</span>
                                {% elseif is_granted('ROLE_USER') %}
                                    <span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill kt-badge--rounded">completed</span>
                                {% endif %}
                                </div>
                            </td>
                            <td>{{ user.lastLoginAt|date('d/m/y H:s') }}</td>
                            <td>
                                <a href="{{ path('admin_user_delete', { 'id': user.id }) }}">
                                    <button type="button" class="btn btn-danger">Usuń</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!--end: Datatable -->
            </div>
        </div>
    </div>
    <!-- end:: Posty_na_blogu -->
{% endblock %}
