{% extends 'base.html.twig' %}
{% block pageTitle %}Panel - Nowy użytkownik{% endblock %}
{% block body %}
    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile" id="kt_page_portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Dodaj nowego użytkownika</h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-xl-2"></div>
                <div class="col-xl-8">
                    {{ form_start(userForm) }}
                    <div class="kt-section kt-section--first">
                        <div class="kt-section__body">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Mail</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(userForm.email) }}
                                        {{ form_errors(userForm.email) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Imię i nazwisko</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(userForm.name) }}
                                        {{ form_errors(userForm.name) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Hasło</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(userForm.password) }}
                                        {{ form_errors(userForm.password) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Uprawnienia</label>
                                <div class="col-9">
                                    <div class="input-group">
                                        {{ form_widget(userForm.roles) }}
                                        {{ form_errors(userForm.roles) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <input type="submit" class="btn btn-brand" value="Wyślij">
                            </div>
                        </div>
                    </div>
                    {{ form_end(userForm) }}
                </div>
                <div class="col-xl-2"></div>
            </div>
        </div>
    </div>

    <!--end::Portlet-->
{% endblock %}
